<% content_for :meta do %>
  <%= tag "meta", property: "og:type", content: "website" %>
  <%= tag "meta", property: "og:site_name", content: "#{@project.slug} / commit" %>
  <%= tag "meta", property: "og:title", content: @commit.summary %>
  <%= tag "meta", property: "og:description", content: @commit.description %>
  <%= tag "meta", property: "og:url", content: commit_url(@commit) %>
<% end %>

<%= render partial: "projects/header", locals: {project: @project, postfix: @commit.sha[0...8]} %>

<div class="commit-profile">
  <%= gravatar_image @commit.committer_email, size: 96 %>
  <h2><%= @commit.summary %></h2>
  <h4><%= @commit.description %></h4>

  <div class="-houston-changelog">
    <% if @commit.releases.any? %>
      <% @commit.releases.each do |release| %>

        <div class="-houston-changelog-day">
          <h4><%= format_release_date(date = release.date) %></h4>
        </div>

        <%= div_for(release) do %>
          <p class="release-header">
            <%= release.released_at.strftime("%l:%M %p") %>&nbsp;&nbsp;
            <%= link_to "details &rarr;".html_safe, release_url(release) %>

            <% if can?(:read, @project.commits.build) %>
              <span class="commit-range"><%= link_to_release_commit_range(release) %></span>
            <% end %>
          </p>

          <% if release.release_changes.any? %>
            <div class="release-changes">
              <% ordered_by_tag(release.release_changes).each do |change| %>
                <% if can?(:read, change) %>
                  <div class="change">
                    <%= format_change_tag change.tag %>
                    <div class="change-summary"><%= format_change(change) %></div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="release-no-changes">No changes</div>
          <% end %>
        <% end %>

      <% end %>
    <% else %>
      <p>This commit has not been released</p>
    <% end %>
  </div>

</div>
