<td class="table-margin"></td>
<td class="ticket-testingPriority">{{#if maintainer}}<a class="ticket-set-priority icon-arrow-up" data-priority="high"></a><a class="ticket-set-priority icon-arrow-down" data-priority="low"></a>{{else}}<i class="icon-arrow-up"></i><i class="icon-arrow-down"></i>{{/if}}</td>
<td class="ticket-project"><b class="bubble {{projectColor}}"></b> {{projectTitle}}</td>
<td class="ticket-summary">
  {{{formatTicketSummary summary}}}
  <a href="{{ticketUrl}}" target="_blank" rel="tooltip" data-tooltip-placement="right" data-original-title="View in {{ticketSystem}}">[#{{number}}]</a>
  {{#if maintainer}}
    <button class="close-button btn btn-mini">Close</button>
  {{/if}}
</td>
<td class="ticket-deployment">{{#if deployment}}<span class="label label-inverse">{{deployment}}</span>{{/if}}</td>
<td class="ticket-due-date">{{#if dueDate}}
  <span class="hidden-text">{{dueDate}}</span>
  <span class="ticket-due-date">{{formatDate dueDate}}</span>
{{/if}}</td>
<td class="ticket-participants">{{#committers}} <span class="committer-avatar">{{{avatar email 24 name}}}</span>{{/committers}}</td>
{{#testerVerdicts}}
  <td class="ticket-participants">{{> testerVerdict}}</td>
{{/testerVerdicts}}
<td class="table-margin"></td>
