<div id="project_<%= project.id %>_testing_report" class="project testing-report-project" data-github-url="<%= github_project_url(project) %>" data-maintainers="<%= project.maintainer_ids.join(",") %>">
  <h4 class="testing-report-project-title">
    <b class="bubble <%= project.color %>"></b>
    <%= project.name %>&nbsp;&nbsp;»&nbsp;&nbsp;
    <a class="refresh-queue" data-queue="in_testing" data-project="<%= project.slug %>" rel="tooltip" title="Refresh" data-placement="bottom">
      <span class="testing-report-ticket-count"><%= pluralize(tickets.count, "tickets") %></span>
      <%= image_tag "/images/refresh.png", width: 16, height: 16, :class => "refresh-icon" %>
      <%= image_tag "/images/preloader.gif", width: 16, height: 16, :class => "preloader-icon" %>
    </a>
  </h4>

  <div id="project_<%= project.id %>_progress" class="testing-report-progress pie"></div>
  <ul class="tickets tickets-list"></ul>
</div>
