<h1 class="space-below">
  Testing Report
</h1>

<ul class="tester-names">
  <li class="row-fluid">
    <div class="span8">&nbsp;</div>
    <div class="span4">
      <span class="ticket-verdict-summary">&nbsp;</span>
      <span class="tester-verdicts">
        <ul id="testers">
          <% User.testers.each do |tester| %>
            <li class="tester"><%= tester.name %></li>
          <% end %>
        </ul>
      </span>
    </div>
  </li>
</ul>

<div class="testing-reports-projects">
  <% @projects.each do |project, tickets| %>
    <div class="project testing-report-project" data-github-url="<%= github_project_url(project) %>">
      <h4 class="testing-report-project-title"><b class="bubble <%= project.color %>"></b> <%= project.name %>&nbsp;&nbsp;»&nbsp;&nbsp;<span style="font-weight: normal;"><%= pluralize(tickets.count, "tickets") %></span></h4>
      <div id="project_<%= project.id %>_progress" class="testing-report-progress pie"></div>
      <ul id="project_<%= project.id %>_tickets" class="tickets tickets-list"></ul>
    </div>
  <% end %>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      var tickets, view;
      
      <% @projects.each do |project, tickets| %>
      tickets = new Tickets(<%= raw TicketPresenter.new(tickets).with_testing_notes.to_json %>);
      view = new TestingTicketsView({el: '#project_<%= project.id %>_tickets', tickets: tickets});
      <% end %>
    });
  </script>
<% end %>
