<%= render partial: "projects/header", locals: {project: @project, subtitle: "Testing Report"} %>

<% if @tickets.any? %>
  <ul class="tester-names">
    <li class="row-fluid">
      <div class="span8">&nbsp;</div>
      <div class="span4">
        <span class="ticket-verdict-summary">&nbsp;</span>
        <span class="tester-verdicts">
          <ul id="testers">
            <% @project.testers.each do |tester| %>
              <li class="tester" data-tester-id="<%= tester.id %>"><span class="tester-name"><%= tester.name %></span></li>
            <% end %>
          </ul>
        </span>
      </div>
    </li>
  </ul>
<% end %>
  
<% if @tickets.any? %>
  <div class="testing-reports-projects">
    <%= render partial: "testing_report/project", locals: {project: @project, tickets: @tickets} %>
  </div>
  
  <% content_for :scripts do %>
    <script type="text/javascript">
      $(function(){
        var tickets = new Tickets(<%= raw TicketPresenter.new(@tickets).with_testing_notes.to_json %>);
        var view = new TestingTicketsView({el: '#project_<%= @project.id %>_tickets', tickets: tickets});
      });
    </script>
  <% end %>
<% else %>
  <div class="alert alert-info">There are no tickets in testing for <b><%= @project.name %></b> right now.</div>
<% end %>
