<%= render partial: "projects/header", locals: {project: @project, subtitle: "Testing Report"} %>

<% if @tickets.any? %>
  <div class="nomargin">
    <table class="table table-expandable table-sortable table-striped testing-report-table testing-reports-projects">
      <thead>
        <tr>
          <td class="table-margin"></td>
          <td class="ticket-testingPriority"><i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i></td>
          <th class="ticket-project sort-asc"><b class="bubble"></b> Project</th>
          <th class="ticket-summary">Ticket</th>
          <th class="ticket-deployment">Environment</th>
          <th class="ticket-due-date">Due Date</th>
          <th class="ticket-participants vertical"><span class="participant-name">Committers</span></th>
          <% User.testers.unretired.each do |tester| %>
            <th class="ticket-participants vertical tester" data-tester-id="<%= tester.id %>"><span class="participant-name"><%= tester.first_name %></span></th>
          <% end %>
          <td class="table-margin"></td>
        </tr>
      </thead>
      
      <tbody id="testing_report"><tbody>
    </table>
  </div>
  
  <%= render partial: "testing_report/scripts", locals: {tickets: @tickets} %>
<% else %>
  <div class="alert alert-info">There are no tickets in testing for <b><%= @project.name %></b> right now.</div>
<% end %>
