<%= render partial: "projects/header", locals: {project: @project, subtitle: "Testing Report"} %>

<button class="btn" id="refresh_testing_report">Refresh</button>

<% if @tickets.any? %>
  <ul class="tester-names">
    <li class="row-fluid">
      <div class="span8">&nbsp;</div>
      <div class="span4">
        <span class="ticket-verdict-summary">&nbsp;</span>
        <span class="tester-verdicts">
          <ul id="testers">
            <% @project.testers.each do |tester| %>
              <li class="tester" data-tester-id="<%= tester.id %>"><span class="tester-name"><%= tester.name %></span></li>
            <% end %>
          </ul>
        </span>
      </div>
    </li>
  </ul>
<% end %>
  
<% if @tickets.any? %>
  <div class="testing-reports-projects">
    <%= render partial: "testing_report/project", locals: {project: @project, tickets: @tickets} %>
  </div>
  
  <%= render partial: "testing_report/scripts", locals: {tickets_by_project_id: @tickets_by_project_id} %>
<% else %>
  <div class="alert alert-info">There are no tickets in testing for <b><%= @project.name %></b> right now.</div>
<% end %>
