<h1 class="project-banner <%= @project.color %>">
  <small>New Release for</small> <%= @project.name %>
</h1>

<p>Commits: <span class="commit-range"><span class="commit"><%= @release.commit0 || "&nbsp;".html_safe %></span>...<span class="commit"><%= @release.commit1 || "&nbsp;".html_safe %></span></span></p>

<div style="overflow: hidden;">
  <%= render partial: "releases/changelog" %>
</div>

<p><%= link_to "Edit and Publish Release",
  new_release_url(@release, auth_token: @maintainer.authentication_token),
  :class => "btn btn-primary btn-large" %></p>
