<%= render partial: "projects/header", locals: {project: @project, subtitle: "Deploy to"} %>

<p>
  Branch: <b><%= @deploy.branch %></b>
</p>

<p>
  Commit Range: <b><%= link_to_commit_range_for_deploy @deploy %></b>
</p>

<p>
  Deployer: <b><%= @deploy.deployer %></b>
</p>

<p>
  Completed: <b><%= @deploy.completed_at %></b>
</p>

<p>
  Succeeded: <b><%= @deploy.succeeded? %></b>
</p>

<p>
  Duration: <b><%= @deploy.duration %></b> seconds
</p>

<div id="output">
  <%= ansi_to_html @deploy.output %>
</div>

<% unless @deploy.completed_at %>
<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var interval = 900;
    var timer = window.setInterval(function() {
      $.getJSON(<%=raw deploy_path(project_id: @project.slug, id: @deploy.id).to_json %>, function(result) {
        if(result.completed) {
          window.clearInterval(timer);
        }
        $('#output').html(result.output);
      });
    }, interval);
  });
</script>
<% end %>
<% end %>
