<h3 class="heading">
  <%= image_tag image_url("heading-bug-48.png"), size: "36" %>
  New Exceptions
</h3>

<% @report.new_exceptions.each do |exception| %>
  <%= link_to exception.url, class: "exception" do %>
    <span class="exception-notice-count">
      <%= score_card :small, style: "padding-top: 0;" do |s| %>
        <% s.score (exception.notices_count == 1) ? "Notice" : "Notices", exception.notices_count %>
      <% end %>
    </span>
    <span class="exception-message" style="font-size: 1.25em;"><%= exception.message %></span><br />
    <% unless exception.where.blank? or exception.where == "unknown" %>
      <span class="exception-where"><%= exception.where %></span>
    <% end %>
  <% end %>
<% end %>
