<tr class="task {{#firstReleaseAt}}task-released{{/firstReleaseAt}} {{#releasedAt}}task-closed{{/releasedAt}}" data-task-id="{{id}}">
  <td class="task-remove">
    <button class="btn btn-danger remove-task-button">Remove</button>
  </td>
  <td class="task-effort">
    {{effort}}
    {{#firstReleaseAt}}
      <i class="icon-ok-sign" rel="tooltip" title="Released {{formatDate this}}"></i>
    {{/firstReleaseAt}}
  </td>
  <td class="task-project"><b class="bubble {{projectColor}}"></b> {{projectTitle}}</td>
  <td class="ticket-type ticket-type-{{ticketType}}"></td>
  <td class="task-summary">
    {{description}}
    <a href="{{ticketUrl}}" target="_blank" rel="tooltip" data-tooltip-placement="right" data-original-title="View in {{ticketSystem}}">[#{{shorthand}}]</a>
  </td>
  <td class="task-worker">
    {{#if checkedOut}}
      {{#if checkedOutByMe}}
        <button class="btn btn-danger check-out-button active" data-toggle="button">Check in</button>
      {{else}}
        Checked out by
        {{{avatar checkedOutBy/email 24 checkedOutBy/name}}}
      {{/if}}
    {{else}}
      <button class="btn btn-info check-out-button" data-toggle="button">Check out</button>
    {{/if}}
  </td>
</tr>
