<tr class="task {{#released}}task-released{{/released}} {{#committed}}task-committed{{/committed}} {{#completed}}task-completed{{/completed}}" data-task-id="{{id}}">
  <td class="task-effort">
    {{effort}}
  </td>
  <td class="task-project"><b class="bubble {{projectColor}}"></b> {{projectTitle}}</td>
  <td class="task-summary">
    {{description}}
    <a href="{{ticketUrl}}" target="_blank" rel="ticket" data-number="{{ticketNumber}}" data-project="{{projectSlug}}">[#{{shorthand}}]</a>
  </td>
  <td class="task-status">
    {{#if released}}
      <i class="fa fa-paper-plane"></i> Released
    {{else}}{{#if committed}}
      <span class="octicon octicon-git-commit"></span> Committed
    {{else}}
      Open
    {{/if}}{{/if}}
  </td>
  <td class="task-worker">
    {{#if checkedOut}}
      {{#if checkedOutByMe}}
        {{#if open}}
          <button class="btn btn-danger check-out-button active" data-toggle="button">Check in</button>
        {{/if}}
      {{else}}
        {{{avatar checkedOutBy/email 24 checkedOutBy/name}}}
      {{/if}}
    {{else}}
      {{#if open}}
        <button class="btn btn-info check-out-button" data-toggle="button">Check out</button>
      {{/if}}
    {{/if}}
  </td>
  {{#unless locked}}
  <td class="task-remove">
    {{#if open}}<a class="remove-task-button"></a>{{/if}}
  </td>
  {{/unless}}
</tr>
