<tr class="task {{#firstReleaseAt}}task-released{{/firstReleaseAt}} {{#firstCommitAt}}task-committed{{/firstCommitAt}} {{#completed}}task-completed{{/completed}}" data-task-id="{{id}}">
  <td class="task-effort">
    {{effort}}
    {{#firstReleaseAt}}
      <i class="fa fa-check-circle" rel="tooltip" title="Released {{formatDate this}}"></i>
    {{/firstReleaseAt}}
  </td>
  <td class="task-project"><b class="bubble {{projectColor}}"></b> {{projectTitle}}</td>
  <td class="task-summary">
    {{description}}
    <a href="{{ticketUrl}}" target="_blank" rel="ticket" data-number="{{ticketNumber}}" data-project="{{projectSlug}}">[#{{shorthand}}]</a>
  </td>
  <td class="task-worker">
    {{#if checkedOut}}
      {{#if checkedOutByMe}}
        {{#if open}}
          <button class="btn btn-danger check-out-button active" data-toggle="button">Check in</button>
        {{/if}}
      {{else}}
        Checked out by
        {{{avatar checkedOutBy/email 24 checkedOutBy/name}}}
      {{/if}}
    {{else}}
      {{#if open}}
        <button class="btn btn-info check-out-button" data-toggle="button">Check out</button>
      {{/if}}
    {{/if}}
  </td>
  {{#unless locked}}
  <td class="task-remove">
    {{#if open}}<a class="remove-task-button"></a>{{/if}}
  </td>
  {{/unless}}
</tr>
