<tr class="task {{#released}}task-released{{/released}} {{#committed}}task-committed{{/committed}} {{#completed}}task-completed{{/completed}}" data-task-id="{{id}}">
  <td class="task-effort">
    {{effort}}
  </td>
  <td class="task-project"><b class="bubble {{projectColor}}"></b> {{projectTitle}}</td>
  <td class="task-summary">
    {{description}}
    <a href="{{ticketUrl}}" target="_blank" rel="ticket" data-number="{{ticketNumber}}" data-project="{{projectSlug}}">[#{{shorthand}}]</a>
  </td>
  <td class="task-status">{{{renderTaskStatus this}}}</td>
  <td class="task-worker">{{{renderTaskWorker this}}}</td>
  {{#unless locked}}
  <td class="task-remove">
    {{#if open}}<a class="remove-task-button remove-button"></a>{{/if}}
  </td>
  {{/unless}}
</tr>
