<span class="task-typeahead-sequence">{{sequence}}</span>
<span class="task-typeahead-project">
  <b class="bubble {{projectColor}}"></b>
  <span class="project-title">{{{projectTitle}}}</span>
</span>
<span class="task-typeahead-summary">{{{description}}}</span>
<span class="task-typeahead-number">#{{{shorthand}}}</span>
