<span class="ticket-typeahead-sequence">{{sequence}}</span>
<span class="ticket-typeahead-project">
  <b class="bubble {{projectColor}}"></b>
  <span class="project-title">{{{projectTitle}}}</span>
</span>
<span class="ticket-typeahead-summary">{{{summary}}}</span>
<span class="ticket-typeahead-number">#{{{number}}}</span>
