<div id="timer_wrapper">
  <div id="last_update">Last Update: <span><%= Time.now.strftime("%l:%M %p") %></span></div>
  <div id="timer"></div>
</div>
<a id="auto_update">Auto-Update</a>
<% tickets = Ticket.for_projects(projects).in_queues(KanbanQueue.all).includes(:testing_notes) %>
<% tickets_by_project_by_queue = Ticket.benchmark("[kanban] time to query and organize tickets:") { group_tickets_by_queue_and_project(tickets, projects) } %>
<table id="kanban">
  <thead>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <th class="kanban-column" data-queue="<%= queue.slug %>">
          <div class="ticket-count"></div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% Ticket.benchmark("[kanban] time to render tickets:") do %>
        <% KanbanQueue.all.each do |queue|; tickets_by_project = tickets_by_project_by_queue[queue.slug] %>
          <td class="kanban-column" data-queue="<%= queue.slug %>">
            <ul id="<%= queue.slug %>">
              <% projects.each do |project|; tickets = tickets_by_project[project.id] %>
                <% tickets.each do |ticket|; ticket.project = project %>
                  <%# This is copied from application.html.erb %>
                  <li class="ticket <%= project.slug %> <%= project.color %> <%= class_for_age(ticket.age) %> <%= ticket.verdict.downcase %>" id="ticket_<%= ticket.id %>" data-number="<%= ticket.number %>" data-project="<%= project.name %>" <%= attributes_for_ticket_verdict(ticket) %>>
                    <a href="https://<%= unfuddle.subdomain %>.unfuddle.com/a#/projects/<%= project.unfuddle_id %>/tickets/by_number/<%= ticket.number %>" target="_blank">
                      <h3 class="ticket-number"><%= ticket.number %> <span class="ticket-age"><%= format_duration ticket.age %></span></h3>
                      <p class="ticket-summary"><%= ticket.summary %></p>
                    </a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <th class="kanban-column" data-queue="<%= queue.slug %>">
          <div class="title"><%= queue.name %></div>
          <p class="small"><%= queue.description.html_safe %></p>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
