<div id="timer_wrapper">
  <div id="last_update">Last Update: <span><%= Time.now.strftime("%l:%M %p") %></span></div>
  <div id="timer"></div>
</div>
<a id="auto_update">Auto-Update</a>
<% tickets_by_project_by_queue = Ticket.benchmark("\e[33m[kanban] time to query and organize tickets:\e[0m") do
  Ticket.nosync do
    tickets = Ticket.for_projects(projects).includes(:testing_notes, :ticket_queues)
    group_tickets_by_queue_and_project(tickets, projects) 
  end
end %>
<table id="kanban">
  <thead>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <th class="kanban-column" data-queue="<%= queue.slug %>">
          <span class="ticket-count"></span>
          <a class="refresh-queue" data-queue="<%= queue.slug %>" rel="tooltip" title="Refresh" data-placement="bottom">
            <%= image_tag "/images/refresh.png", width: 16, height: 16, :class => "refresh-icon" %>
            <%= image_tag "/images/preloader.gif", width: 16, height: 16, :class => "preloader-icon" %>
          </a>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% Ticket.benchmark("\e[33m[kanban] time to render tickets:\e[0m") do %>
        <% KanbanQueue.all.each do |queue|; tickets_by_project = tickets_by_project_by_queue[queue.slug] %>
          <td class="kanban-column" data-queue="<%= queue.slug %>">
            <ul id="<%= queue.slug %>">
              <% projects.each do |project|; tickets = tickets_by_project[project.id] %>
                <% tickets.each do |ticket|; ticket.project = project %>
                  <%# This is copied from application.html.erb %>
                  <li class="ticket <%= project.slug %> <%= project.color %> <%= class_for_age(ticket.age_in(queue)) %>" id="ticket_<%= ticket.id %>" data-number="<%= ticket.number %>" data-project="<%= project.name %>">
                    <a href="<%= ticket.ticket_tracker_ticket_url %>" target="_blank">
                      <h3 class="ticket-number"><%= ticket.number %> <span class="ticket-age"><%= format_duration ticket.age_in(queue) %></span></h3>
                      <p class="ticket-summary"><%= ticket.summary %></p>
                    </a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <th class="kanban-column" data-queue="<%= queue.slug %>">
          <div class="title"><%= queue.name %></div>
          <p class="small"><%= queue.description.html_safe %></p>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
