<div id="timer_wrapper">
  <div id="last_update">Last Update: <span><%= Time.now.strftime("%l:%M %p") %></span></div>
  <div id="timer"></div>
</div>
<a id="auto_update">Auto-Update</a>
<table id="kanban">
  <thead>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <th class="kanban-column" data-queue="<%= queue.slug %>"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <td class="kanban-column<%= " manual" if queue.local_query? %>" data-queue="<%= queue.slug %>">
          <ul id="<%= queue.slug %>">
            <% projects.each do |project| %>
              <% project.tickets.in_queue(queue).each do |ticket| %>
                <%# This is copied from application.html.erb %>
                <li class="ticket <%= project.slug %> <%= project.color %> <%= class_for_age(ticket.age) %> <%= ticket.verdict.downcase %>" id="ticket_<%= ticket.id %>" data-number="<%= ticket.number %>" data-project="<%= project.name %>" <%= attributes_for_ticket_verdict(ticket) %>>
                  <a href="https://<%= unfuddle.subdomain %>.unfuddle.com/a#/projects/<%= project.unfuddle_id %>/tickets/by_number/<%= ticket.number %>" target="_blank">
                    <h3 class="ticket-number"><%= ticket.number %> <span class="ticket-age"><%= format_duration ticket.age %></span></h3>
                    <p class="ticket-summary"><%= ticket.summary %></p>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <th class="kanban-column" data-queue="<%= queue.slug %>">
          <div class="title"><%= queue.name %></div>
          <p class="small"><%= queue.description.html_safe %></p>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
