<h1 class="project-banner <%= @project.color %>">
  <small>Follow-up on</small> <%= @project.name %>
</h1>

<p class="followup-greeting"><%= @reporter.name %>,</p>

<p class="followup-narration followup-narration-customer">on <span class="detail date"><%= @antecedent.created_at %></span>, you took a call from</p>

<div class="followup-customer">
  <h3 class="followup-customer-name"><%= @customer.name %></h3>
  <dl class="followup-customer-info">
    <dt>Customer</dt><dd>1005783</dd>
    <dt>Email</dt><dd><%= mail_to "h.blaugh@juno.net" %></dd>
  </dl>
</div>

<p class="followup-narration followup-narration-notes">You recorded</p>

<div class="followup-notes">
  <%= @antecedent.notes %>
</div>

<ol class="followup-history">
  <li>&#9658; A ticket <%= link_to "[##{@ticket.number}]", @ticket.ticket_tracker_ticket_url %> was created for this on <span class="detail date"><%= @ticket.created_at %></span></li>
  <li>&#9658; The ticket was deployed today at 2:37pm</li>
</ol>
