<h1 class="project-banner <%= @project.color %>">
  <small>Release notes for</small> <%= @project.name %>
</h1>

<div class="release-draft" style="overflow: hidden;">
  <% if @release.new_record? %>
    <% if @release.commit_not_found_error_message %>
      <div class="alert alert-error">
        <%= replace_quotes(@release.commit_not_found_error_message) %>
      </div>
    <% elsif @release.commits.none? %>
      <div class="alert alert-error">
        There are no commits in the repo <code><%= @project.repo.location %></code> that match <code><%= @commit0 %>...<%= @commit1 %></code>
      </div>
    <% else %>
      <%= render partial: "releases/changelog", locals: {draft: true} %>
    <% end %>
  <% else %>
    <%= render partial: "releases/changelog" %>
  <% end %>
</div>

<% if @release.new_record? && @maintainer %>
  <p style="margin-top: 3em;">
    <%= link_to "Edit and Publish Release",
      new_release_url(@release, auth_token: @maintainer.authentication_token),
      :class => "btn btn-primary btn-large" %>
    &nbsp;
    <span style="color: #888;">(Commit range:
      <span class="commit-range"><%= link_to_release_commit_range(@release) %></span>)
    </span>
  </p>
<% end %>
