<h1 class="project-banner <%= @project.color %>">
  <small>Release notes for</small> <%= @project.name %>
</h1>

<div style="overflow: hidden;">
  <%= render partial: "releases/changelog" %>
</div>

<% if @release.new_record? && @maintainer %>
  <p style="margin-top: 3em;">
    <%= link_to "Edit and Publish Release",
      new_release_url(@release, auth_token: @maintainer.authentication_token),
      :class => "btn btn-primary" %>
    &nbsp;
    <span style="color: #888;">(Commit range:
      <span class="commit-range"><%= link_to_commit_range(@project, @release.commit0, @release.commit1) %></span>)
    </span>
  </p>
<% end %>
