<% content_for :meta do %>
  <%= link_to_oembed test_run_url(slug: @test_run.project.slug, commit: @test_run.sha) %>
  <%= tag "meta", property: "og:type", content: "website" %>
  <%= tag "meta", property: "og:site_name", content: "Houston" %>
  <%= tag "meta", property: "og:title", content: @test_run.summary %>
  <%= tag "meta", property: "og:description", content: @test_run.short_description(with_duration: true) %>
  <%= tag "meta", property: "og:url", content: test_run_url(slug: @test_run.project.slug, commit: @test_run.sha) %>
<% end %>


<h1 class="project-banner <%= @project.color %>" style="margin-bottom: 12px;">
  <small>Test Results for</small> <%= @project.name %>
</h1>

<h2 class="test-result-banner <%= @test_run.pending? ? "pending" : @test_run.result %>">
  <%= link_to @test_run.pending? ? "pending" : @test_run.result, @test_run.results_url, target: "_blank" %>
</h2>

<% unless @test_run.pending? %>
  <div class="test-result-stats">
    <div class="score score-large">
      <p class="test-duration">
        <span class="score-count"><%= (@test_run.duration / 1000.0).round(2) %><span class="unit">s</span></span>
        <span class="score-label">Duration</span>
      </p>

      <p class="test-coverage">
        <span class="score-count"><%= (@test_run.covered_percent * 100.0).round(1) %><span class="unit">%</span></span>
        <span class="score-label">Coverage</span>
      </p>

      <% if @test_run.real_fail_count.zero? %>
        <p class="test-coverage">
          <span class="score-count"><%= @test_run.total_count %></span>
          <span class="score-label"><%= @test_run.total_count == 1 ? "Test" : "Tests" %></span>
        </p>
      <% else %>
        <p class="test-coverage">
          <span class="score-count"><%= @test_run.real_fail_count %></span>
          <span class="score-label"><%= @test_run.real_fail_count == 1 ? "Fail" : "Fails" %></span>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<% unless @test_run.tests.nil? %>
  <table class="test-result-top-matter">
    <tr>
      <td class="test-result-graph">
        <% stats = TestRunStatistics.new(@project) %>
        <% runs, width, height = 15, 188, 75 %>

        <%= area_graph(
          data: stats.tests(runs),
          colors: ["FFFFFF", "AA0000", "E24E32", "5DB64C"],
          width: width,
          height: height,
          retina: true,
          bg: "FFFFFF00",
          title: "Results (count)" ) %>
      </td>
      <td class="test-result-graph">
        <%= area_graph(
          data: [stats.coverage(runs)],
          colors: ["445599"],
          width: width,
          height: height,
          retina: true,
          max: 100,
          bg: "FFFFFF00",
          title: "Coverage (percent)" ) %>
      </td>
      <td class="test-result-graph">
        <%= area_graph(
          data: [stats.duration(runs)],
          colors: ["3FC1AA"],
          width: width,
          height: height,
          retina: true,
          bg: "FFFFFF00",
          title: "Duration (seconds)" ) %>
      </td>
    </tr>
  </table>
<% end %>

<% unless @test_run.pending? %>
  <div class="tests-detail">
    <% if @test_run.tests.nil? %>
      <p>The build failed without running tests.</p>
    <% elsif @test_run.tests.none? %>
      <p>This project does not have any tests.</p>
    <% else %>
      <% tests = @test_run.tests %>
      <% tests = tests.select { |test| test_status(test) == "fail" } if @test_run.failed? %>
      <% tests.group_by { |test| test[:suite] }.each do |suite, tests| %>
        <div class="test-suite">
          <h3 class="test-suite-name"><%= suite %></h3>
          <ul class="tests">
            <% tests.each do |test| %>
              <li class="test <%= test_status(test) %>">
                <%= link_to project_test_url(slug: @project.slug, id: test[:test_id], at: @test_run.sha) do %>
                  <span class="test-status <%= test_status(test) %>"><%= test_status(test) %></span><span class="test-name"><%= test[:name] %></span>&nbsp;
                  <% if test[:duration] %>
                    <span class="test-duration">( <%= test[:duration].round(1) %>ms )</span>
                  <% end %>
                  <% if test.fetch(:error_backtrace, []).any? %>
                    <ol class="test-backtrace">
                      <li class="test-backtrace-line error-message"><%= test[:error_message] %></li>
                      <% test[:error_backtrace].each do |line| %>
                        <li class="test-backtrace-line"><%= format_backtrace_line(line) %></li>
                      <% end %>
                    </ol>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= link_to "Retry", retry_test_run_url(slug: @test_run.project.slug, commit: @test_run.sha), class: "btn btn-large" %>

<p style="text-align: right;"><%= link_to @test_run.results_url, @test_run.results_url, target: "_blank" %></p>
