<h1 class="project-banner <%= @project.color %>" style="margin-bottom: 12px;">
  <small>Test Results for</small> <%= @project.name %>
</h1>

<h2 class="test-result-banner <%= @test_run.result %>">
  <%= link_to @test_run.result, @test_run.results_url, target: "_blank" %>
</h2>

<div class="test-result-stats">
  <div class="score score-large">
    <p class="test-duration">
      <span class="score-count"><%= (@test_run.duration / 1000.0).round(2) %><span class="unit">s</span></span>
      <span class="score-label">Duration</span>
    </p>
    
    <p class="test-coverage">
      <span class="score-count"><%= (@test_run.covered_percent * 100.0).round(1) %><span class="unit">%</span></span>
      <span class="score-label">Coverage</span>
    </p>
    
    <% if @test_run.real_fail_count.zero? %>
      <p class="test-coverage">
        <span class="score-count"><%= @test_run.total_count %></span>
        <span class="score-label"><%= @test_run.total_count == 1 ? "Test" : "Tests" %></span>
      </p>
    <% else %>
      <p class="test-coverage">
        <span class="score-count"><%= @test_run.real_fail_count %></span>
        <span class="score-label"><%= @test_run.real_fail_count == 1 ? "Fail" : "Fails" %></span>
      </p>
    <% end %>
  </div>
</div>

<% unless @test_run.tests.nil? %>
<table class="test-result-top-matter">
  <tr>
    <td class="test-result-graph">
      <% stats = TestRunStatistics.new(@project) %>
      <% runs, width, height = 15, 188, 75 %>
      
      <%= area_graph(
        data: stats.tests(runs),
        colors: ["FFFFFF", "AA0000", "E24E32", "5DB64C"],
        width: width,
        height: height,
        retina: true,
        bg: "FFFFFF00",
        title: "Results (count)" ) %>
    </td>
    <td class="test-result-graph">
      <%= area_graph(
        data: [stats.coverage(runs)],
        colors: ["445599"],
        width: width,
        height: height,
        retina: true,
        max: 100,
        bg: "FFFFFF00",
        title: "Coverage (percent)" ) %>
    </td>
    <td class="test-result-graph">
      <%= area_graph(
        data: [stats.duration(runs)],
        colors: ["3FC1AA"],
        width: width,
        height: height,
        retina: true,
        bg: "FFFFFF00",
        title: "Duration (seconds)" ) %>
    </td>
  </tr>
</table>
<% end %>

<% if @test_run.failed? %>
  <% if (blamable_commits = @test_run.blamable_commits).any? %>
    <div class="test-result-credit">
      <p>
        <%= blamable_commits.uniq(&:author_email).map { |commit|
              "<span class=\"test-result-committer\">#{gravatar_image commit.author_email, size: 48} #{commit.author_name}</span>"
            }.to_sentence(two_words_connector: " or ", last_word_connector: ", or ").html_safe %>
        broke the build.
        <%= image_tag image_url("emoji/disappointed_relieved.png") %>
      </p>
      
      See commits <%= link_to_commit_range @test_run.project, blamable_commits.last.sha, blamable_commits.first.sha %>
    </div>
  <% end %>
<% elsif @test_run.fixed? %>
  <% praisable_commits = @test_run.commits_since_last_test_run %>
  <div class="test-result-credit">
    <p>
      <%= praisable_commits.uniq(&:author_email).map { |commit|
            "<span class=\"test-result-committer\">#{gravatar_image commit.author_email, size: 48} #{commit.author_name}</span>"
          }.to_sentence.html_safe %>
      fixed the build!
      <%= image_tag image_url("emoji/star.png") %><%= image_tag image_url("emoji/trophy.png") %><%= image_tag image_url("emoji/star.png") %>
    </p>
    
    See commits <%= link_to_commit_range @test_run.project, praisable_commits.last.sha, praisable_commits.first.sha %>
  </div>
<% end %>

<div class="tests-detail">
  <% if @test_run.tests.nil? %>
    <p>The build failed without running tests.</p>
  <% elsif @test_run.tests.none? %>
    <p>This project does not have any tests.</p>
  <% else %>
    <% tests = @test_run.tests %>
    <% tests = tests.select { |test| test_status(test) == "fail" } if @test_run.failed? %>
    <% tests.group_by { |test| test[:suite] }.each do |suite, tests| %>
      <div class="test-suite">
        <h3 class="test-suite-name"><%= suite %></h3>
        <ul class="tests">
          <% tests.each do |test| %>
            <li class="test <%= test_status(test) %>">
              <span class="test-status <%= test_status(test) %>"><%= test_status(test) %></span><span class="test-name"><%= test[:name] %></span>&nbsp;
              <% if test[:duration] %>
                <span class="test-duration">( <%= test[:duration].round(1) %>ms )</span>
              <% end %>
              <% if test.fetch(:error_backtrace, []).any? %>
                <ol class="test-backtrace">
                  <li class="test-backtrace-line error-message"><%= test[:error_message] %></li>
                  <% test[:error_backtrace].each do |line| %>
                    <li class="test-backtrace-line"><%= format_backtrace_line(line) %></li>
                  <% end %>
                </ol>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Retry", retry_test_run_url(slug: @test_run.project.slug, commit: @test_run.sha), class: "btn btn-large" %>

<p style="text-align: right;"><%= link_to @test_run.results_url, @test_run.results_url, target: "_blank" %></p>
