<h1 class="project-banner <%= @project.color %>">
  <small><%= @noun %> on</small> <%= @project.name %>
</h1>

<h3><%= @tester.name %> put a <%= @noun.downcase %> on ticket #<%= @ticket.number %>:</h3>

<p><%= mdown @note.comment %></p>

<p><%= link_to_ticket(@ticket) %></p>
