<% content_for :title do %>
<h1 class="project-banner space-below">
  Jobs
</h1>
<% end %>

<% if $scheduler %>
  <p><b>Status:</b> <%= $scheduler.up? ? "Up (Started #{format_time $scheduler.started_at})".html_safe : "Down" %></p>

  <div class="nomargin">
    <table id="jobs" class="table table-sortable table-striped">
      <thead>
        <tr>
          <td class="table-margin"></td>
          <th class="scheduler-job-name">Name</th>
          <th class="scheduler-job-schedule">Schedule</th>
          <th class="scheduler-job-last">Last Run</th>
          <th class="scheduler-job-reliability">Reliability</th>
          <th class="scheduler-job-duration">Duration</th>
          <td class="scheduler-job-run-now"></td>
          <td class="table-margin"></td>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <tr class="scheduler-job">
            <td class="table-margin"></td>
            <td class="scheduler-job-name"><%= link_to job[:name], job_path(slug: job[:name]) %></td>
            <td class="scheduler-job-schedule"><%= job[:schedule] %></td>
            <% if job[:last] %>
              <td class="scheduler-job-last">
                <%= format_time job[:last].started_at, today: false %>
                <%= format_job_state job[:last] %>
              </td>
              <td class="scheduler-job-reliability">
                <%= number_to_percentage 100.0 * job[:successful_runs].to_f / job[:runs], precision: 1 %>
                <span class="scheduler-job-success-rate">/<%= job[:runs] %></span>
              </td>
              <td class="scheduler-job-duration"><%= format_duration job[:avg_duration] %></td>
            <% else %>
              <td class="scheduler-job-last">&mdash;</td>
              <td class="scheduler-job-reliability">&mdash;</td>
              <td class="scheduler-job-duration">&mdash;</td>
            <% end %>
            <td class="scheduler-job-run-now">
              <%= button_to "Run now", run_job_path(slug: job[:name]), :class => "btn btn-default" %>
            </td>
            <td class="table-margin"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <p><b>Status:</b> Unavailable</p>
<% end %>


<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#jobs').tablesorter();
    });
  </script>
<% end %>
