<tbody>
  {{#each tickets}}
  <tr id="ticket_{{id}}" class="ticket" rel="ticket" data-number="{{number}}">
    <td class="table-margin"></td>
    <td class="ticket-number">#{{number}}</td>
    <td class="ticket-type ticket-type-{{type}}"></td>
    <td class="ticket-reporter">{{{avatar reporter/email 24 reporter/name}}}</td>
    <td class="ticket-summary">{{summary}}</td>
    <td class="ticket-milestone">{{#milestone}}
      <!-- TMI: knowledge of roadmap module -->
      <a href="/roadmap/milestones/{{id}}">{{name}}</a>
    {{/milestone}}</td>
    <td class="ticket-opened date">{{{formatDateWithYear openedAt}}}</td>
    <td class="ticket-closed date">{{{formatDateWithYear closedAt}}}</td>
    <td class="table-margin"></td>
  </tr>
  {{/each}}
</tbody>
