<tbody>
  {{#each tickets}}
  <tr id="ticket_{{id}}">
    <td class="table-margin"></td>
    <td class="ticket-number">
      <a href="tickets/by_number/{{number}}" target="_blank">{{number}}</a>
    </td>
    <td class="ticket-type ticket-type-{{type}}"></td>
    <td class="ticket-reporter">{{{avatar reporterEmail 24 reporterName}}}</td>
    <td class="ticket-summary">{{summary}}</td>
    <td class="ticket-antecedents">{{{summarizeAntecedents antecedents}}}</td>
      <!-- ticket.antecedents.group_by(&:kind).each do |kind, antecedents| %>
        <%= kind %> <span class="badge"><%= antecedents.length %></span>
      <% end -->
    </td>
    <td class="ticket-opened">{{{formatDateWithYear openedAt}}}</td>
    <td class="ticket-closed">{{{formatDateWithYear closedAt}}}</td>
    <td class="table-margin"></td>
  </tr>
  {{/each}}
</tbody>
