<div class="ticket ticket-view" id="ticket_view">
  <div class="ticket-header">
    <h2>
      <span class="ticket-number">#{{number}}</span>
      <span class="ticket-summary editable" id="ticket_summary">
        <span class="show" title="{{summary}}">{{summary}}</span>
        <span class="edit"><input type="text" name="summary" /></span>
      </span>
    </h2>

    <div class="ticket-state-position">
      <div class="ticket-state {{#if closedAt}}closed{{else}}open{{/if}}"></div>
    </div>

    <div class="ticket-reporter">
      Opened
      {{#if reporter}}
        by {{{avatar reporter/email 16}}}
        <b>{{reporter/name}}</b>
      {{/if}}
      <span class="ticket-opened date" title="{{formatTime openedAt}}">{{formatTimeAgo openedAt}}</span>
    </div>

    {{#ifEq ticketSystem "Houston"}}{{else}}
    <div class="ticket-tracker-link">
      <a href="{{ticketUrl}}" target="_blank">Open in {{ticketSystem}}</a>
    </div>
    {{/ifEq}}
  </div>

  <div class="ticket-body">
    <div class="ticket-audit-frame">
      <div class="ticket-audit-timeline">
        {{#timeline changes}}
          <div class="timeline-event timeline-event-audit">
            {{{timelineTime time}}}
            {{{avatar actor/email 16 actor/name}}}
            {{{description}}}
          </div>
        {{/timeline}}
      </div>
    </div>
    <div class="ticket-description editable primary-frame" id="ticket_description">
      <div class="show">{{{markdown description}}}</div>
      <div class="edit">
        <div class="uploader">
          <textarea name="description"></textarea>
        </div>
        <p class="buttons">
          <button type="reset" class="btn btn-link">Cancel</button>
          <button type="submit" class="btn btn-default">Save</button>
        </p>
      </div>
    </div>
    <div class="task-frame">
    </div>
  </div>
</div>
