<table id="kanban" style="height: 90%">
  <thead>
    <tr>
      <% now = Time.now %>
      <% KanbanQueue.all.each do |queue| %>
        <th class="kanban-column" data-queue="<%= queue.slug %>">
          <p style="margin:0;">Average time in queue:</p>
          <h3 style="line-height:1em;"><%= @durations.key?(queue.slug) ? distance_of_time_in_words(now, now + @durations[queue.slug].to_d.seconds) : "Not Available" %></h3>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <td class="kanban-column"></td>
      <% end %>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <% KanbanQueue.all.each do |queue| %>
        <th class="kanban-column" data-queue="<%= queue.slug %>">
          <div class="title"><%= queue.name %></div>
          <p class="small"><%= queue.description.html_safe %></p>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
