<li class="omnibar-item" data-value="{{url}}"><a>
  {{{avatar committer/email 28}}}
  <b class="bubble {{projectColor}}"></b>
  <span class="commit-sha">{{sha}}</span>
  <span class="commit-message">{{message}}</span>
</a></li>
