<li class="omnibar-item" data-value="{{url}}"><a>
  {{{avatar reporter/email 28}}}
  <b class="bubble {{projectColor}}"></b>
  <span class="ticket-number">#{{number}}</span>
  <span class="ticket-summary">{{summary}}</span>
</a></li>
