<% content_for :title do %>
<h1 class="project-banner space-below">
  Actions
</h1>
<% end %>

<% if $scheduler %>
  <p><b>Status:</b> <%= $scheduler.up? ? "Up (Started #{format_time $scheduler.started_at})".html_safe : "Down" %></p>
<% else %>
  <p><b>Status:</b> Unavailable</p>
<% end %>

<div class="nomargin">
  <table id="actions" class="table table-sortable table-striped">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <th class="action-name">Name</th>
        <th class="action-params">Params</th>
        <th class="action-last">Last Run</th>
        <th class="action-reliability">Reliability</th>
        <th class="action-count">Count</th>
        <th class="action-duration">Duration</th>
        <!--<td class="action-run-now"></td>-->
        <td class="table-margin"></td>
      </tr>
    </thead>
    <tbody>
      <% @actions.each do |action| %>
        <tr class="action">
          <td class="table-margin"></td>
          <td class="action-name"><%= link_to action[:name], action_path(slug: action[:name]) %></td>
          <td class="action-params"><%= action[:required_params].join(", ") %></td>
          <% if action[:last] %>
            <td class="action-last" data-timestamp="<%= action[:last].started_at.iso8601 %>">
              <%= format_time action[:last].started_at, today: false %>
              <%= format_action_state action[:last] %>
            </td>
            <td class="action-reliability" data-position="<%= action[:successful_runs].to_f / action[:runs] %>">
              <%= number_to_percentage 100.0 * action[:successful_runs].to_f / action[:runs], precision: 1 %>
            </td>
            <td class="action-count"><%= action[:runs] %></td>
            <td class="action-duration" data-position="<%= action[:avg_duration] %>"><%= format_duration action[:avg_duration] %></td>
          <% else %>
            <td class="action-last" data-timestamp="0">&mdash;</td>
            <td class="action-reliability" data-position="0">&mdash;</td>
            <td class="action-count">0</td>
            <td class="action-duration" data-position="0">&mdash;</td>
          <% end %>
          <!--<td class="action-run-now">
            <%= button_to "Run now", run_action_path(slug: action[:name]), :class => "btn btn-default" %>
          </td>-->
          <td class="table-margin"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#actions').tablesorter({
        headers: {
          3: { sorter: 'timestamp' },
          4: { sorter: 'property' },
          5: { sorter: 'integer' },
          6: { sorter: 'property' }
        }
      });
    });
  </script>
<% end %>
