<% content_for :title do %>
<h1 class="project-banner space-below">
  Running Actions
</h1>
<% end %>

<div class="nomargin">
  <table id="actions" class="table table-sortable table-striped">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <th class="action-time">Started</th>
        <th class="action-duration">Duration</th>
        <th class="action-name">Action</th>
        <th class="action-trigger">Trigger</th>
        <th class="action-params">Params</th>
        <td class="table-margin"></td>
      </tr>
    </thead>
    <tbody>
      <% @actions.each do |action| %>
        <tr class="action">
          <td class="table-margin"></td>
          <td class="action-time"><%= format_time action.started_at %></td>
          <td class="action-duration"><%= format_time_ago action.started_at %></td>
          <td class="action-name"><%= link_to action[:name], action_path(slug: action[:name]) %></td>
          <td class="action-trigger"><%= action.trigger %></td>
          <td class="action-params"><%= format_action_params action.params %></td>
          <td class="table-margin"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#actions')
        .tablesorter()
        .on('click', '.action-params-short', function() {
          $(this).next().modal();
        });
    });
  </script>
<% end %>
