<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>
    
    <% if can?(:manage, @user) %>
      <div class="control-group">
        <%= f.label :administrator, :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :administrator, :class => 'checkbox' %>
        </div>
      </div>
      
      <hr />
      
      <div class="control-group">
        <%= f.label :unfuddle_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :unfuddle_id, :class => 'number_field' %>
        </div>
      </div>
    <% end %>
    
    
    <hr />
    
    <div class="control-group">
      <label class="control-label">Notifications</label>
      <div class="controls">
      
        <p class="notifications-instructions">
          for projects I follow, notify me:
        </p>
        
        <% Houston.config.environments.each do |environment| %>
          <label class="checkbox" for="send_release_notes_<%= environment.underscore %>">
            <input type="hidden" name="send_release_notes[<%= environment %>]" value="0" />
            <input type="checkbox" id="send_release_notes_<%= environment.underscore %>" name="send_release_notes[<%= environment %>]" value="1" <%= "checked=\"checked\"" if @user.environments_subscribed_to.member?(environment) %>/> of every release to <b><%= environment %></b>
          </label>
        <% end %>
      </div>
    </div>
    
    
    <% if @user.new_record? %>
      <div class="control-group">
        <div class="controls">
          <label for="send_invitation">
            <input type="checkbox" id="send_invitation" name="send_invitation" value="1" checked="checked" /> Invite user to set up an account
          </label>
        </div>
      </div>
    <% end %>
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Invite', invite_user_path(@user), :method => 'post', :class => 'btn btn-primary' if @user.persisted? && @user.encrypted_password.blank? && !@user.invited? && can?(:create, User) %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
      <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-delete' if @user.persisted? && can?(:destroy, @user) %>
    </div>
    
  </fieldset>
<% end %>
