<%= form_for @user, :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label :first_name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name, :class => "text_field" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name, :class => "text_field" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :nickname, "Nickname", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :nickname, :class => "text_field" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, "Primary Email Address", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email, :class => "text_field" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :alias_emails, "Other Email Addresses", :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :alias_emails, :class => "text_field", rows: 3, value: @user.alias_emails.join("\n") %>
      </div>
    </div>

    <% if can?(:manage, @user) %>
      <div class="control-group">
        <%= f.label :role, :class => "control-label" %>
        <div class="controls">
          <%= f.select :role, Houston.config.roles, :class => "select_field" %>
        </div>
      </div>
    <% end %>

    <% if can?(:manage, @user) %>
      <div class="control-group">
        <%= f.label :administrator, :class => "control-label" %>
        <div class="controls">
          <%= f.check_box :administrator, :class => "checkbox" %>
        </div>
      </div>
    <% end %>



    <%= f.fields_for :props, nil do |f| %>
      <% f.object = OpenStruct.new(@user.props) # WTF %>
      <% Houston.config.user_options.each do |form| %>
        <hr />

        <div class="control-group">
          <label class="control-label"><%= form.name %></label>
          <div class="controls">
            <%= form.render(self, f) %>
          </div>
        </div>
      <% end %>
    <% end %>



    <% if @user.credentials.any? %>
      <hr />

      <div class="control-group">
        <label class="control-label">Credentials</label>
        <div class="controls">

          <p>Houston has remembered your credentials for:</p>

          <ul class="user-credentials">
            <%= content_tag_for :li, @user.credentials do |user_credentials| %>
              <span class="user-credentials-service"><%= user_credentials.service %></span>
              <span class="user-credentials-delete">
                <a class="btn btn-mini btn-danger delete-user-credentials" href="/credentials/<%= user_credentials.id %>" data-method="delete" data-confirm="Should Houston forget your credentials for <%= user_credentials.service %>?">Delete</a>
              </span>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>


    <% if @user.new_record? %>
      <div class="control-group">
        <div class="controls">
          <label for="send_invitation">
            <input type="checkbox" id="send_invitation" name="send_invitation" value="1" checked="checked" /> Invite user to set up an account
          </label>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => "btn btn-primary" %>
      <%= link_to "Invite", invite_user_path(@user), :method => "post", :class => "btn btn-primary" if @user.persisted? && @user.encrypted_password.blank? && !@user.invited? && can?(:create, User) %>
      <%= link_to "Cancel", users_path, :class => "btn" %>

      <% if @user.persisted? && can?(:destroy, @user) %>
        <button class="btn btn-delete btn-danger" id="retire_user_button">Retire</button>
      <% end %>
    </div>

  </fieldset>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    <% if @user.persisted? && can?(:destroy, @user) %>
    $('#retire_user_button').click(function(e) {
      e.preventDefault();
      $.destroy('<%= user_path(@user) %>')
        .success(function() { window.location = '/users'; })
        .error(function() { console.log(arguments); });
    });
    <% end %>
  });
</script>
<% end %>
