<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>
    
    <% if can?(:manage, @user) %>
      <div class="control-group">
        <%= f.label :role, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :role, User::ROLES, :class => 'select_field' %>
        </div>
      </div>
    <% end %>
    
    <hr />
    
    <div class="control-group">
      <%= f.label :notifications, :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <table class="notifications-table">
          <thead>
            <tr>
              <td class="project"></td>
              <%# !<-- knowledge of environments encoded %>
              <th>PRI</th>
              <th>Production</th>
            </tr>
          <thead>
          <tbody>
            <% Project.all.each do |project| %>
              <tr>
                <td class="notification-project"><b class="bubble <%= project.color %>"></b> <%= project.name %></td>
                <% %w{dev master}.each do |slug| %>
                  <td class="notification-checkbox">
                    <% if project.environments.where(slug: slug).any? %>
                      <%= label_tag "user_#{slug}_#{project.id}_notification" do %>
                        <%= check_box_tag "user[notifications_pairs][]", "#{project.id},#{slug}", @user.notifications.where(environment: slug, project_id: project.id).any?, :id => "user_#{slug}_#{project.id}_notification" %>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
    <% if @user.new_record? %>
    <div class="control-group">
      <div class="controls">
        <label for="send_invitation">
          <input type="checkbox" id="send_invitation" name="send_invitation" value="1" checked="checked" /> Invite user to set up an account
        </label>
      </div>
    </div>
    <% end %>
    

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Invite', invite_user_path(@user), :method => 'post', :class => 'btn btn-primary' if @user.persisted? && @user.encrypted_password.blank? && !@user.invited? && can?(:create, User) %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
      <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-delete' if @user.persisted? && can?(:destroy, @user) %>
    </div>
    
  </fieldset>
<% end %>
