<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>
    
    <% if can?(:manage, @user) %>
      <div class="control-group">
        <%= f.label :role, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :role, Houston.roles, :class => 'select_field' %>
        </div>
      </div>
    <% end %>
    
    <% if can?(:manage, @user) %>
      <div class="control-group">
        <%= f.label :administrator, :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :administrator, :class => 'checkbox' %>
        </div>
      </div>
    <% end %>
    
    <hr />

    <div class="control-group">
      <%= f.label :unfuddle_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :unfuddle_id, :class => 'number_field' %>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <%= f.label :notifications, :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <table class="notifications-table">
          <thead>
            <tr>
              <td class="project"></td>
              <% Houston.config.environments.each do |environment| %>
                <th><%= environment %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% Project.all.each do |project| %>
              <tr>
                <td class="notification-project"><b class="bubble <%= project.color %>"></b> <%= project.name %></td>
                <% Houston.config.environments.each do |environment| %>
                  <td class="notification-checkbox">
                    <%= label_tag "user_#{environment}_#{project.id}_notification" do %>
                      <%= check_box_tag "user[notifications_pairs][]", "#{project.id},#{environment}", @user.notifications.where(environment_name: environment, project_id: project.id).any?, :id => "user_#{environment}_#{project.id}_notification", :class => "#{environment}-notification" %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td class="project"></td>
              <% Houston.config.environments.each do |environment| %>
                <th>
                  <a class="select-all" data-environment="<%= environment %>">All</a> /
                  <a class="select-none" data-environment="<%= environment %>">None</a>
                </th>
              <% end %>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    
    <% if @user.new_record? %>
    <div class="control-group">
      <div class="controls">
        <label for="send_invitation">
          <input type="checkbox" id="send_invitation" name="send_invitation" value="1" checked="checked" /> Invite user to set up an account
        </label>
      </div>
    </div>
    <% end %>
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Invite', invite_user_path(@user), :method => 'post', :class => 'btn btn-primary' if @user.persisted? && @user.encrypted_password.blank? && !@user.invited? && can?(:create, User) %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
      <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-delete' if @user.persisted? && can?(:destroy, @user) %>
    </div>
    
  </fieldset>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    $('.select-all').click(function() {
      var environment = $(this).attr('data-environment');
      $('.' + environment + '-notification').attr('checked', 'checked');
    });
    $('.select-none').click(function() {
      var environment = $(this).attr('data-environment');
      $('.' + environment + '-notification').removeAttr('checked');
    });
  });
</script>
<% end %>
