<h1>Users <%= link_to "New", new_user_path, :class => "btn btn-primary" if can?(:create, User) %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= mail_to user.email, user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to "Edit", edit_user_path(user), :class => "btn btn-mini" %>
          <%= link_to "Destroy", user_path(user), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-mini btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
