<p class="stats-fresh-date">Stats as of <b><%= @last_updated.strftime('%B %e %l:%m %p') %></b></p>

<h1 class="space-below">
  Users
  <%= link_to "New User", new_user_path, :class => "btn btn-primary" if can?(:create, User) %>
</h1>

<% if @users.any? %>
  <% users_by_role(@users) do |role, users| %>
    <h4><%= role.pluralize %></h4>
    <ol class="columns">
      <% users.in_groups(2, false).each do |users| %>
        <li class="column users-column">
          <ul class="users">
            <% users.each do |user| %>
              <li class="user">
                <span class="user-avatar avatar-54"><%= avatar_for(user, size: 112) %></span>
                <h3 class="user-name"><%= link_to user.name, user_path(user) %></h3>
                <span class="user-email"><%= mail_to user.email, user.email %></span>
                <%= link_to "Edit", edit_user_path(user), :class => "btn btn-mini" if can?(:update, user) %>
                
                <% if stats = @ticket_stats_by_user[user] %>
                  <div class="score score-small">
                    <p>
                      <span class="score-count"><%= stats[:tickets] %></span>
                      <span class="score-label">Filed</span>
                    </p>
                    <p>
                      <% if stats[:tickets] > 0 %><span class="score-count percent"><%= number_with_precision(stats[:invalid_tickets], precision: 0) %></span><% else %><span class="score-count">&mdash;</span><% end %>
                      <span class="score-label">Duplicate<br /><small>or</small> Invalid</span>
                    </p>
                    <p>
                      <% if stats[:tickets] > 0 %><span class="score-count percent"><%= number_with_precision(stats[:fixed_tickets], precision: 0) %></span><% else %><span class="score-count">&mdash;</span><% end %>
                      <span class="score-label">Fixed</span>
                    </p>
                    <p>
                      <%= pie_graph(data_by_color: stats[:tickets_by_severity], width: 66) %>
                    </p>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ol>
  <% end %>
<% else %>
  <div class="alert alert-info">No users have been created yet.</div>
<% end %>
