<h1 class="space-below">
  Users
  <%= link_to "New User", new_user_path, :class => "btn btn-primary" if can?(:create, User) %>
</h1>

<% if @users.any? %>
  <% users_by_role(@users) do |role, users| %>
    <h4><%= role.pluralize %></h4>
    <ol class="columns">
      <% users.in_groups(2, false).each do |users| %>
        <li class="column users-column">
          <ul class="users">
            <% users.each do |user| %>
              <li class="user">
                <span class="user-avatar avatar-54"><%= avatar_for(user, size: 54) %></span>
                <h3 class="user-name"><%= link_to user.name, user_path(user) %></h3>
                <span class="user-email"><%= mail_to user.email, user.email %></span>
                <%= link_to "Edit", edit_user_path(user), :class => "btn btn-mini" if can?(:update, user) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ol>
  <% end %>
<% else %>
  <div class="alert alert-info">No users have been created yet.</div>
<% end %>
