<h1 class="space-below">
  Users
  <%= link_to "New User", new_user_path, :class => "btn btn-primary" if can?(:create, User) %>
</h1>

<% if @users.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><span class="avatar-24"></span> Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <span class="avatar-42"><%= avatar_for(user, size: 42) %></span>
            <%= link_to user.name, user_path(user) %>
          </td>
          <td><%= mail_to user.email, user.email %></td>
          <td><%= user.role %></td>
          <td>
            <%= link_to "Edit", edit_user_path(user), :class => "btn btn-mini" if can?(:update, user) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">No users have been created yet.</div>
<% end %>
