<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => "form-horizontal"}) do |f| %>
  <fieldset>
    <%= devise_error_messages! %>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.email_field :email, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<%= render "links" %>