<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path,
                  @project => Project.all,
                  "Environments" => nil %>
  <%= p.actions do %>
    <%= link_to "New Environment", new_project_environment_path(@project), :class => 'btn btn-primary' if can?(:update, @project) %>
  <% end %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @environments.each do |environment| %>
      <tr>
        <td><%= link_to environment.name, environment_path(environment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
