<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path,
                    @project => Project.all,
                    @environment => @project.environments %>
  <%= p.actions do %>
    <%= link_to 'Edit', edit_environment_path(@environment), :class => 'btn' if can?(:update, @environment) %>
    <%= link_to 'Delete', environment_path(@environment), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' if can?(:destroy, @environment) %>
  <% end %>
<% end %>

<% if @releases.length > 0 %>
  <h5>Current Release</h5>
  <div class="current-release">
    <%= render :partial => @releases.first %>
  </div>
<% else %>
  <p>No releases.</p>
<% end %>

<% if @releases.length > 1 %>
  <h5>Past Releases</h5>
  <div class="previous-releases">
    <% @releases[1..-1].each do |release| %>
      <%= render :partial => release %>
    <% end %>
  </div>
<% end %>

<%= link_to 'New Release', new_project_environment_release_path(@project, @environment), :class => 'btn btn-primary'  if can?(:create, Release) %>
