<div id="container" <% if params[:zoom].to_f > 0 %> style="transform: scale(<%= params[:zoom].to_f %>); transform-origin: 50% 0;" <% end %>>
  <div id="sprint_view"></div>
<div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var view = new ShowSprintView({
      el: $('#sprint_view')[0],
      sprintId: <%= @sprint.try(:id).to_json %>,
      sprintStart: new Date(<%= @sprint.start_date.year %>, <%= @sprint.start_date.month - 1 %>, <%= @sprint.start_date.day %>),
      sprintTasks: <%= raw TaskPresenter.new(@sprint.tasks).to_json %>
    });
    
    view.render();
    
    new Refresher()
      .container('#container')
      .interval(10 * 60 * 1000) // 10 minutes
      .callback(function() {
        $.getJSON(window.location.path, function(json) {
          view
            .setStart(App.parseDate(json.start))
            .setTasks(json.tasks)
            .render();
        });
      }).render();
  });
</script>
<% end %>
