<h1>Sprint</h1>
<div id="sprint_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var view = new ShowSprintView({
      el: $('#sprint_view')[0],
      sprintId: <%= @sprint.try(:id).to_json %>,
      sprintStart: new Date(<%= @sprint.start_date.year %>, <%= @sprint.start_date.month - 1 %>, <%= @sprint.start_date.day %>),
      sprintTasks: <%= raw SprintTaskPresenter.new(@sprint).to_json %>
    });

    view.render();

    $('body').toggleClass('green', view.totalEffort > 0 && (view.toCommit == 0 || view.toComplete == 0));

    new Refresher()
      .container('#container')
      .interval(10 * 60 * 1000) // 10 minutes
      .callback(function() {
        $.getJSON(window.location.path, function(json) {
          view
            .setStart(App.parseDate(json.start))
            .setTasks(json.tasks)
            .render();
        });
      }).render();
  });
</script>
<% end %>
