<% content_for :title do %>
<h1 class="project-banner space-below">
  Sprint
  
  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div id="sprint_view" class="hide-completed"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    new ShowSprintView({
      el: $('#sprint_view')[0],
      sprintId: <%= @sprint.try(:id).to_json %>,
      sprintStart: new Date(<%= @sprint.start_date.year %>, <%= @sprint.start_date.month - 1 %>, <%= @sprint.start_date.day %>),
      sprintLocked: <%= @sprint.try(:locked?).to_json %>,
      sprintTasks: <%= raw SprintTaskPresenter.new(@tasks).to_json %>.map(function(task) {
        task.checkedOut = !!task.checkedOutBy;
        task.checkedOutByMe = task.checkedOutBy && (task.checkedOutBy.id == window.user.id);
        return task;
      }),
      openTasks: <%= raw TaskPresenter.new(@open_tasks).to_json %>
    }).render();
  });
</script>
<% end %>
