<% content_for :title do %>
<h1 class="project-banner space-below">
  Sprint<small class="colon">:</small>
  <small class="postfix">
    <%= link_to @sprint.previous do %><i class="fa fa-chevron-left"></i><% end %>
    <%= format_sprint_time_frame(@sprint) %>
    <%= link_to @sprint.next do %><i class="fa fa-chevron-right"></i><% end %>
  </small>
  
  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div id="sprint_view" class="hide-completed"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    new EditSprintView({
      el: $('#sprint_view')[0],
      sprintId: <%= @sprint.id.to_json %>,
      sprintStart: new Date(<%= @sprint.start_date.year %>, <%= @sprint.start_date.month - 1 %>, <%= @sprint.start_date.day %>),
      sprintEnd: new Date(<%= @sprint.end_date.year %>, <%= @sprint.end_date.month - 1 %>, <%= @sprint.end_date.day %>),
      sprintLocked: <%= @sprint.locked?.to_json %>,
      sprintCompleted: <%= @sprint.completed?.to_json %>,
      sprintTasks: <%= raw SprintTaskPresenter.new(@sprint).to_json %>.map(function(task) {
        task.checkedOut = !!task.checkedOutBy;
        task.checkedOutByMe = task.checkedOutBy && (task.checkedOutBy.id == window.user.id);
        return task;
      }),
      sprintHistory: <%= raw SprintReport.new(
        current_user,
        6.weeks.before(@sprint.end_date),
        1.week.before(@sprint.end_date)).to_json %>,
      openTasks: <%= raw (@open_tasks && TaskPresenter.new(@open_tasks)).to_json %>
    }).render();
  });
</script>
<% end %>
