<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :slug, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :color, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :color, Rails.application.config.colors.keys.map { |name| [name.titleize, name] }, :class => 'select_field' %>
        <% if Project.count > 0 %>
          (Unused colors: <%= (Rails.application.config.colors.keys - Project.pluck(:color).uniq).map(&:titleize).join(", ") %>)
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :git_url, "Git URL", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :git_url, :class => 'text_field' %>
      </div>
    </div>
    
    <hr />

    <div class="control-group">
      <%= f.label :unfuddle_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :unfuddle_id, :class => 'number_field' %>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <%= f.label :errbit_app_id, "Errbit App ID", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :errbit_app_id, :class => 'text_field' %>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <%= f.label :new_relic_id, "New Relic App ID", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :new_relic_id, :class => 'text_field' %>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <%= f.label :maintainers, :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <%= f.nested_editor_for :maintainers do |f| -%>
          <%= f.select :id, User.where(role: %w{Administrator Developer}).map { |user| [user.name, user.id] } %>
        <% end -%>
      </div>
    </div>

    <hr />
    
    <%# !todo: warn before deleting an environment %>
    <div class="control-group" style="display: none;">
      <%= f.label :environments, :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <div class="nested editor headings">
          <ol>
            <li>
              <div class="environment-name">Environment Name<small>&nbsp;</small></div>
              <div class="environment-slug">Git Branch<small>May be a URL or local path</small></div>
              <div class="environment-initial-commit">Initial Commit (SHA)<small>Leave blank for first commit</small></div>
            </li>
          </ol>
        </div>
        <%= f.nested_editor_for :environments do |f| -%>
          <div class="environment-name"><%= f.text_field :name %></div>
          <div class="environment-slug"><%= f.text_field :slug %></div>
          <div class="environment-initial-commit"><%= f.text_field :initial_commit %></div>
        <% end -%>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :notifications, :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <table class="notifications-table">
          <thead>
            <tr>
              <td class="user"></td>
              <% @project.environments.each do |environment| %>
                <th><%= environment.name %></th>
              <% end %>
            </tr>
          <thead>
          <tbody>
            <% User.all.group_by(&:role).each do |role, users| %>
              <tr class="group">
                <td colspan="3"><%= role.pluralize %></td>
              </tr>
              <% users.each do |user| %>
                <tr>
                  <td class="notification-user"><span class="avatar-32"><%= avatar_for(user, size: 32) %></span> <%= user.name %></td>
                  <% @project.environments.each do |environment| %>
                  <td class="notification-checkbox">
                    <%= label_tag "project_#{environment.slug}_#{user.id}_notification" do %>
                      <%= check_box_tag "project[notifications_pairs][]", "#{user.id},#{environment.slug}", @project.notifications.where(environment: environment.slug, user_id: user.id).any?, :id => "project_#{environment.slug}_#{user.id}_notification" %>
                    <% end %>
                  </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', projects_path, :class => 'btn' %>
      <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-delete' if @project.persisted? && can?(:destroy, @project) %>
    </div>
  </fieldset>
<% end %>
