<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :slug, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug, :class => 'text_field' %>
      </div>
    </div>
    
    <% if Houston.config.project_categories.any? %>
      <div class="control-group">
        <%= f.label :category, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :category, [nil] + Houston.config.project_categories, :class => 'select_field' %>
        </div>
      </div>
    <% end %>
    
    <div class="control-group">
      <%= f.label :color, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :color, Houston.config.project_colors.keys.map { |name| [name.titleize, name] }, :class => 'select_field' %>
        <% if Project.count > 0 %>
          (Unused colors: <%= (Houston.config.project_colors.keys - Project.pluck(:color).uniq).map(&:titleize).join(", ") %>)
        <% end %>
      </div>
    </div>
    
    <% Project.adapters.each do |_, adapter| %>
      
      <hr />
      
      <div class="control-group project-adapter">
        <label class="control-label"><%= adapter.title %></label>
        <div class="controls">
          <div class="project-adapters">
            <% adapter.namespace.adapters.each do |name| %>
              <%= f.label "#{adapter.attribute_name}_name_#{name.to_s.downcase}", :class => "inline-label project-adapter-option" do %>
                <%= f.radio_button "#{adapter.attribute_name}_name", name %> <%= name.titleize %>
              <% end %>
            <% end %>
          </div>
          <% adapter.namespace.adapters.each do |name| %>
            <div class="project-adapter-fields" data-adapter="<%= name %>">
              <% adapter.namespace.adapter(name).parameters.each do |parameter| %>
                <% errors = @project.errors[parameter].flatten %>
                <%= label_tag "project[extended_attributes][#{parameter}]", parameter.to_s.gsub('_', ' ').gsub(/\b('?[a-z])/) { $1.capitalize } %>
                <%= text_field_tag "project[extended_attributes][#{parameter}]", @project.extended_attributes[parameter.to_s], :class => "text_field #{"error" if errors.any?}" %>
                <% if errors.any? %>
                  <span class="help-inline">&nbsp;<%= errors.to_sentence %></span>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      
    <% end %>

    <hr />

    <div class="control-group">
      <%= f.label :new_relic_id, "New Relic App ID", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :new_relic_id, :class => 'text_field' %>
      </div>
    </div>

    <hr />
    
    <div class="control-group">
      <%= f.label :roles, "Teammates", :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <%= f.nested_editor_for :roles do |f| -%>
          <%= f.select :user_id, User.scoped.map { |user| [user.name, user.id] } %>
          <%= f.select :name, Houston.project_roles %>
        <% end -%>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :min_passing_verdicts, "Min. Passing Verdicts", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :min_passing_verdicts, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', projects_path, :class => 'btn' %>
      <%= link_to 'Retire', retire_project_path(@project), :method => 'put', :class => 'btn btn-danger' if @project.persisted? && can?(:destroy, @project) %>
      <%# link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-delete' if @project.persisted? && can?(:destroy, @project) %>
    </div>
  </fieldset>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var $name = $('#project_name'),
        $slug = $('#project_slug'),
        prevSlug = $name.val().dasherize();
    $name.keyup(function() {
      var name = $name.val(),
          slug = name.dasherize();
      if($slug.val() == prevSlug) {
        $slug.val(slug);
        prevSlug = slug;
      }
    });
    
    function showProjectAdapterParameters($div) {
      var selectedAdapter = $div.find(':radio:checked').val();
      $div.find('.project-adapter-fields').hide();
      $div.find('.project-adapter-fields[data-adapter="' + selectedAdapter + '"]').show();
      console.log('selected ' + selectedAdapter);
    }
    
    $('.project-adapter').each(function() {
      var $div = $(this);
      $div.delegate(':radio', 'click', function() { showProjectAdapterParameters($div); });
      showProjectAdapterParameters($div);
    });
  });
</script>
<% end %>
