<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :slug, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :unfuddle_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :unfuddle_id, :class => 'number_field' %>
      </div>
    </div>
    
    <%# !todo: warn before deleting an environment %>
    <div class="control-group">
      <%= f.label :environments, :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <%= f.nested_editor_for :environments do |f| -%>
          <div class="environment-name"><%= f.text_field :name %></div>
          <div class="environment-slug"><%= f.text_field :slug %></div>
        <% end -%>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', projects_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
