<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :slug, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug, :class => 'text_field' %>
      </div>
    </div>
    
    <% if Houston.config.project_categories.any? %>
      <div class="control-group">
        <%= f.label :category, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :category, [nil] + Houston.config.project_categories, :class => 'select_field' %>
        </div>
      </div>
    <% end %>
    
    <div class="control-group">
      <%= f.label :color, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :color, Houston.config.colors.keys.map { |name| [name.titleize, name] }, :class => 'select_field' %>
        <% if Project.count > 0 %>
          (Unused colors: <%= (Houston.config.colors.keys - Project.pluck(:color).uniq).map(&:titleize).join(", ") %>)
        <% end %>
      </div>
    </div>
    
    <hr />
    
    <div class="control-group">
      <%= f.label :version_control_location, "Version Control", :class => 'control-label' %>
      <div class="controls">
        <p>
          <% Houston::VersionControl.adapters.each do |name| %>
            <%= f.label "version_control_adapter_#{name.to_s.underscore}", :class => "inline-label" do %>
              <%= f.radio_button :version_control_adapter, name %> <%= name %>
            <% end %>
          <% end %>
        </p>
        <%= f.text_field :version_control_location, :class => 'text_field' %>
      </div>
    </div>
    
    <hr />

    <div class="control-group">
      <%= f.label :ticket_tracking_id, :class => 'control-label' %>
      <div class="controls">
        <p>
          <% Houston::TicketTracking.adapters.each do |name| %>
            <%= f.label "ticket_tracking_adapter_#{name.to_s.underscore}", :class => "inline-label" do %>
              <%= f.radio_button :ticket_tracking_adapter, name %> <%= name %>
            <% end %>
          <% end %>
        </p>
        <%= f.text_field :ticket_tracking_id, :class => 'text_field' %>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <%= f.label :ci_adapter, "Continuous Integration", :class => 'control-label' %>
      <div class="controls">
        <p>
          <% Houston::CI.adapters.each do |name| %>
            <%= f.label "ci_adapter_#{name.to_s.underscore}", :class => "inline-label" do %>
              <%= f.radio_button :ci_adapter, name %> <%= name %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <%= f.label :errbit_app_id, "Errbit App ID", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :errbit_app_id, :class => 'text_field' %>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <%= f.label :new_relic_id, "New Relic App ID", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :new_relic_id, :class => 'text_field' %>
      </div>
    </div>

    <hr />
    
    <div class="control-group">
      <%= f.label :roles, "Teammates", :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <%= f.nested_editor_for :roles do |f| -%>
          <%= f.select :user_id, User.scoped.map { |user| [user.name, user.id] } %>
          <%= f.select :name, Houston.roles %>
        <% end -%>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :min_passing_verdicts, "Min. Passing Verdicts", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :min_passing_verdicts, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :notifications, :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <table class="notifications-table">
          <thead>
            <tr>
              <td class="notification-user"></td>
              <% Houston.config.environments.each do |environment| %>
                <th><%= environment %></th>
              <% end %>
            </tr>
          <thead>
          <tbody>
            <% User.all.group_by(&:role).each do |role, users| %>
              <tr class="notification-group">
                <td colspan="3"><%= role.pluralize %></td>
              </tr>
              <% users.each do |user| %>
                <tr>
                  <td class="notification-user"><span class="avatar-32"><%= avatar_for(user, size: 32) %></span> <%= user.name %></td>
                  <% Houston.config.environments.each do |environment| %>
                  <td class="notification-checkbox">
                    <%= label_tag "project_#{environment}_#{user.id}_notification" do %>
                      <%= check_box_tag "project[notifications_pairs][]", "#{user.id},#{environment}", @project.notifications.where(environment_name: environment, user_id: user.id).any?, :id => "project_#{environment}_#{user.id}_notification" %>
                    <% end %>
                  </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', projects_path, :class => 'btn' %>
      <%= link_to 'Retire', retire_project_path(@project), :method => 'put', :class => 'btn btn-danger' if @project.persisted? && can?(:destroy, @project) %>
      <%# link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger btn-delete' if @project.persisted? && can?(:destroy, @project) %>
    </div>
  </fieldset>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var $name = $('#project_name'),
        $slug = $('#project_slug'),
        prevSlug = $name.val().dasherize();
    $name.keyup(function() {
      var name = $name.val(),
          slug = name.dasherize();
      if($slug.val() == prevSlug) {
        $slug.val(slug);
        prevSlug = slug;
      }
    });
  });
</script>
<% end %>
