<h1 class="space-below">
  <%= project.name %>
  <% if defined?(subtitle) %>
    <span class="subtitle"><%= subtitle %></span>
  <% end %>
  <small>
    <%= custom_link_unless_current "Dashboard", project_dashboard_path(project) %>
    <%= custom_link_unless_current "Kanban", project_kanban_path(project) %>
    <%= custom_link_unless_current "Testing Report", project_testing_report_path(project) %>
    <%= custom_link_unless_current "Releases", releases_path(project) %>
    <%= custom_link_unless_current "Edit", edit_project_path(project) %>
  </small>
</h1>
