<% content_for :title do %>
<% without = (defined?(without) && without) || [] %>
<h1 class="project-banner <%= project.color %> space-below" data-project-slug="<%= project.slug %>" data-project-color="<%= project.color %>">
  <% if defined?(subtitle) %><small><%= subtitle %></small><% end %>
  <%= project.name %><% if defined?(postfix) %><small class="colon">:</small> <small class="postfix"><%= postfix %></small><% end %>
  
  <%= render partial: "projects/ticket_tracker_refresh", locals: {project: project} %>
  <%= render partial: "projects/new_ticket", locals: {project: project} unless without.include?("new_ticket") %>
  <%= render partial: "projects/keyboard_shortcuts" unless without.include?("keyboard_shortcuts") %>
</h1>
<% end %>
