<% content_for :title do %>
<h1 class="project-banner space-below">
  Projects
  <%= link_to "New Project", new_project_path, :class => "btn btn-primary" if can?(:create, Project) %>
  <%= link_to "New Ticket", "/tickets/new", :class => "btn btn-default" if can?(:create, Ticket) %>
  
  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<% if @projects.any? %>
  <div class="nomargin">
    <table id="projects" class="table table-sortable table-striped">
      <thead>
        <tr>
          <td class="table-margin"></td>
          <th class="project-title sort-desc">Title</th>
          <th class="project-maintainers">Maintainers</th>
          <th class="project-owners">Owners</th>
          <th class="project-platform">Platform</th>
          <th class="project-database">Database</th>
          <th class="project-category">Category</th>
          <th class="project-last-build">Last Build</th>
          <% Houston.config.environments.each do |environment_name| %>
          <th class="project-last-release"><%= environment_name %></th>
          <% end %>
          <td class="project-following"></td>
          <td class="table-margin"></td>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr id="project_<%= project.id %>">
            <td class="table-margin"></td>
            <td class="project-title" style="white-space: nowrap;">
              <b class="bubble <%= project.color %>" rel="tooltip" title="<%= project.color.titleize %>" data-tooltip-placement="right"></b>
              <%= link_to_if can?(:update, project), project.name, edit_project_path(project) %>
              
              <p class="project-links">
                <% if ticket_tracker_url = project.ticket_tracker_project_url %>
                  <%= link_to ticket_tracker_url, :target => "_blank" do %>
                    <%= image_tag "/images/favicon-unfuddle.png", "data-tooltip-placement" => "top", :rel => "tooltip", :title => "View in #{project.ticket_tracker_name}", :width => 16, :height => 16 %>
                  <% end %>
                <% end %>
                <% if error_tracker_url = project.error_tracker_project_url %>
                  <%= link_to error_tracker_url, :target => "_blank" do %>
                    <%= image_tag "/images/favicon-errbit.png", "data-tooltip-placement" => "top", :rel => "tooltip", :title => "View in #{project.error_tracker_name}", :width => 16, :height => 16 %>
                  <% end %>
                <% end %>
                <% if github_url?(project) %>
                  <%= link_to github_project_url(project), :target => "_blank" do %>
                    <%= image_tag "/images/favicon-github.png", "data-tooltip-placement" => "top", :rel => "tooltip", :title => "View in GitHub", :width => 16, :height => 16 %>
                  <% end %>
                <% end %>
                <% if ci_server_url = project.ci_server_job_url %>
                  <%= link_to ci_server_url, :target => "_blank" do %>
                    <%= image_tag "/images/favicon-jenkins.png", "data-tooltip-placement" => "top", :rel => "tooltip", :title => "View in #{project.ci_server_name}", :width => 16, :height => 16 %>
                  <% end %>
                <% end %>
                <% unless project.code_climate_repo_token.blank? %>
                  <%= link_to "#", :target => "_blank" do %>
                    <%= image_tag "/images/favicon-codeclimate.png", "data-tooltip-placement" => "top", :rel => "tooltip", :title => "Uses Code Climate!", :width => 16, :height => 16 %>
                  <% end %>
                <% end %>
              </p>
            </td>
            <td class="project-maintainers project-participants">
              <% project.maintainers.each do |maintainer| %><%= link_to avatar_for(maintainer), user_path(maintainer), :class => "project-maintainer project-participant", :rel => "tooltip", :title => maintainer.name, "data-placement" => "right" %><span class="hidden-text"><%= maintainer.first_name %></span><!-- so sort works --><% end %>
            </td>
            <td class="project-owners project-participants">
              <% project.owners.each do |owner| %><%= link_to avatar_for(owner), user_path(owner), :class => "project-owner project-participant", :rel => "tooltip", :title => owner.name, "data-placement" => "right" %><span class="hidden-text"><%= owner.first_name %></span><!-- so sort works --><% end %>
            </td>
            <td class="project-platform">
              <% platform = project.platform %>
              <% unless platform.blank? %>
                <% dependency = ProjectDependency.new(project, KeyDependency.new(slug: platform)) %>
                <%= format_maintenance_light(dependency, with_name: true) %>
              <% end %>
            </td>
            <td class="project-database database-<%= (project.database || "none").downcase %>">
              <%= project.database %>
            </td>
            <td class="project-category">
              <%= project.category %>
            </td>
            <td class="project-last-build">
              <% with_most_recent_test_run(project) do |test_run| %>
                <h5 class="test-result-banner <%= test_run.result || "pending" %>" rel="tooltip" title="<%= test_run_summary(test_run) %>">
                  <%= link_to test_run.result, test_run.results_url, target: "_blank" %>
                </h5>
                <span class="test-run-commit">(<%= link_to_commit(OpenStruct.new(project: project, sha: test_run.sha)) %>)</span>
              <% end %>
            </td>
            <% Houston.config.environments.each do |environment_name| %>
            <td class="project-last-release">
              <% with_most_recent_release(project, environment_name) do |release| %>
                <%= link_to format_release_age(release), release_path(release) %>
              <% end %>
            </td>
            <% end %>
            <td class="project-following">
              <% if current_user %>
                <% roles_for_project = current_user.roles.find_all { |role| role.project_id == project.id }.map(&:name) %>
                <% if roles_for_project.none? %>
                  <%= button_to "Follow", project_follow_path(project), method: :post, class: "btn btn-primary" %>
                <% elsif roles_for_project == %w{Follower} %>
                  <%= button_to "Unfollow", project_unfollow_path(project), method: :delete, class: "btn" %>
                <% else %>
                  <%= roles_for_project.to_sentence %>
                <% end %>
              <% end %>
            </td>
            <td class="table-margin"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-info">There are no projects yet. Click <b>New Project</b> to create one.</div>
<% end %>

<% if can?(:read, Ticket) && can?(:read, Commit) && can?(:read, TestingNote) %>
  <p><%= link_to "Weekly Report", "/weekly_report" %></p>
<% end %>

<p><%= link_to "Dependency View", "/projects/dependencies" %></p>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#projects').tablesorter();
      $('.project-links a').pseudoHover();
    });
  </script>
<% end %>
