<% content_for :title do %>
<h1 class="project-banner space-below">
  Projects
  <%= link_to "New Project", new_project_path, :class => "btn btn-primary" if can?(:create, Project) %>
  <%= link_to "Add Projects from GitHub", add_github_projects_path, :class => "btn btn-primary" if can?(:create, Project) %>

  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<% if @projects.any? %>
  <div class="nomargin">
    <table id="projects" class="table table-sortable table-striped">
      <thead>
        <tr>
          <td class="table-margin"></td>
          <td class="project-feature-error"></td>
          <th class="project-title sort-desc">Title</th>
          <th class="project-maintainers">Maintainers</th>
          <th class="project-owners">Owners</th>
<% if current_user.developer? %>
          <th class="project-last-commit">Last Commit</th>
        <% KeyDependency.all.each do |dependency| %>
          <th class="project-dependency"><%= dependency.name %></th>
        <% end %>
          <th class="project-last-build">Last Build</th>
<% end %>
          <th class="project-last-release">Last Release</th>
          <th class="project-features">Features</th>
          <td class="project-following"></td>
          <td class="table-margin"></td>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr id="project_<%= project.id %>">
            <td class="table-margin"></td>

            <td class="project-feature-error">
              <% broken_features = project.broken_features(%w{
                  publish_status_to_github
                  publish_coverage_to_code_climate}) %>
              <% if broken_features.any? %>
                <i class="fa fa-bolt" rel="tooltip" data-tooltip-placement="top" title="<%= broken_features.map(&:titleize).to_sentence %> <%= broken_features.one? ? "is" : "are" %> not working"></i>
              <% end %>
            </td>

            <td class="project-title">
              <% if project.color %>
                <b class="bubble <%= project.color %>" rel="tooltip" title="<%= project.color.titleize %>" data-tooltip-placement="right"></b>
              <% else %>
                <b class="bubble"></b>
              <% end %>
              <%= link_to_if can?(:update, project), project.name, edit_project_path(project) %>
            </td>

            <td class="project-maintainers project-participants">
              <% project.maintainers.each do |maintainer| %><%= link_to avatar_for(maintainer), user_path(maintainer), :class => "project-maintainer project-participant", :rel => "tooltip", :title => maintainer.name, "data-placement" => "right" %><span class="hidden-text"><%= maintainer.first_name %></span><!-- so sort works --><% end %>
            </td>

            <td class="project-owners project-participants">
              <% project.owners.each do |owner| %><%= link_to avatar_for(owner), user_path(owner), :class => "project-owner project-participant", :rel => "tooltip", :title => owner.name, "data-placement" => "right" %><span class="hidden-text"><%= owner.first_name %></span><!-- so sort works --><% end %>
            </td>



<% if current_user.developer? %>

            <td class="project-last-commit">
              <% with_most_recent_commit(project) do |commit| %>
                <%= link_to_commit(commit) { format_time_ago commit.authored_at } %>
                <div class="commit-summary">
                  <%= commit.summary %>
                </div>
              <% end %>
            </td>

          <% KeyDependency.all.each do |dependency| %>
            <td class="project-dependency">
              <%= project.extended_attributes["key_dependency.#{dependency.slug}"] %>
            </td>
          <% end %>

            <td class="project-last-build">
              <% with_most_recent_test_run(project) do |test_run| %>
                <div style="white-space: nowrap;">
                  <% case test_run.result
                     when "error" %><i class="stoplight yellow"></i><%
                     when "pass" %><i class="stoplight green"></i><%
                     when "fail" %><i class="stoplight red"></i><%
                     end %>
                  <%= link_to format_time_ago(test_run.created_at),
                              test_run_url(slug: project.slug, commit: test_run.sha) %>
                </div>
                <div class="test-run-summary test-run-<%= test_run.result || "pending" %>">
                  <% case test_run.result
                     when nil %>Pending<%
                     when "aborted" %>Aborted<%
                     when "error" %>Broken<%
                     else %>
                    <% if test_run.pass_count > 0 %>
                      <span class="test-count test-count-pass"><span class="count"><%= test_run.pass_count %></span> passed</span>
                    <% end %>
                    <% if test_run.fail_count > 0 %>
                      <span class="test-count test-count-fail"><span class="count"><%= test_run.fail_count %></span> failed</span>
                    <% end %>
                    <% if test_run.skip_count > 0 %>
                      <span class="test-count test-count-skip"><span class="count"><%= test_run.skip_count %></span> skipped</span>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </td>

<% end %>


            <td class="project-last-release">
              <% with_most_recent_release(project) do |release| %>
                <%= link_to format_release_age(release), release_path(release) %>
              <% end %>
            </td>

            <td class="project-features">
              <%= project.features.map { |feature| link_to_project_feature(project, feature) }.join(", ").html_safe %>
            </td>

            <td class="project-following">
              <% if current_user %>
                <% roles_for_project = current_user.roles.find_all { |role| role.project_id == project.id }.map(&:name) %>
                <% if roles_for_project.none? %>
                  <%= button_to "Follow", project_follow_path(project), method: :post, class: "btn btn-primary" %>
                <% elsif roles_for_project == %w{Follower} %>
                  <%= button_to "Unfollow", project_unfollow_path(project), method: :delete, class: "btn" %>
                <% else %>
                  <%= roles_for_project.to_sentence %>
                <% end %>
              <% end %>
            </td>

            <td class="table-margin"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-info">There are no projects yet. Click <b>New Project</b> to create one.</div>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#projects').tablesorter();
    });
  </script>
<% end %>
