<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path %>
  <%= p.actions do %>
    <%= link_to 'New', new_project_path, :class => 'btn btn-primary' %>
  <% end %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

