<h1 class="space-below">
  Projects
  <%= link_to "New Project", new_project_path, :class => "btn btn-primary" if can?(:create, Project) %>
</h1>

<% if @projects.any? %>
  <div class="nomargin">
    <table id="projects" class="table table-sortable table-striped">
      <thead>
        <tr>
          <td class="table-margin"></td>
          <th class="project-title sort-desc">Title</th>
          <th colspan="4" class="project-links">Links</th>
          <th class="project-maintainers">Maintainers</th>
          <th class="project-platform">Platform</th>
          <th class="project-database">Database</th>
          <th class="project-category">Category</th>
          <th class="project-last-build">Last Build</th>
          <th class="project-last-release">Last Release</th>
          <td class="project-new-release"></td>
          <td class="table-margin"></td>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td class="table-margin"></td>
            <td class="project-title">
              <b class="bubble <%= project.color %>" rel="tooltip" title="<%= project.color.titleize %>" data-tooltip-placement="right"></b>
              <%= link_to project.name, edit_project_path(project) %>
            </td>
            <td class="project-link project-unfuddle-link">
              <% if ticket_system_url = project.ticket_system_project_url %>
                <%= link_to ticket_system_url, :target => "_blank" do %>
                  <%= image_tag "/images/favicon-unfuddle.png", "data-tooltip-placement" => "right", :rel => "tooltip", :title => "View in Unfuddle", :width => 16, :height => 16 %>
                <% end %>
              <% end %>
            </td>
            <td class="project-link project-errbit-link">
              <% unless project.errbit_app_id.blank? %>
                <%= link_to errbit_app_url(project), :target => "_blank" do %>
                  <%= image_tag "/images/favicon-errbit.png", "data-tooltip-placement" => "right", :rel => "tooltip", :title => "View in Errbit", :width => 16, :height => 16 %>
                <% end %>
              <% end %>
            </td>
            <td class="project-link project-github-link">
              <% if github_url?(project) %>
                <%= link_to github_project_url(project), :target => "_blank" do %>
                  <%= image_tag "/images/favicon-github.png", "data-tooltip-placement" => "right", :rel => "tooltip", :title => "View in GitHub", :width => 16, :height => 16 %>
                <% end %>
              <% end %>
            </td>
            <td class="project-link project-newrelic-link">
              <% unless project.new_relic_id.blank? %>
                <%= link_to new_relic_project_url(project), :target => "_blank" do %>
                  <%= image_tag "/images/favicon-newrelic.png", "data-tooltip-placement" => "right", :rel => "tooltip", :title => "View in New Relic", :width => 16, :height => 16 %>
                <% end %>
              <% end %>
            </td>
            <td class="project-maintainers">
              <% project.maintainers.each do |maintainer| %>
                <%= link_to avatar_for(maintainer), user_path(maintainer), :class => "project-maintainer", :rel => "tooltip", :title => maintainer.name, "data-placement" => "right" %><span class="hidden-text"><%= maintainer.first_name %></span><!-- so sort works -->
              <% end %>
            </td>
            <td class="project-platform">
              <% platform = project.platform %>
              <% unless platform.blank? %>
                <% dependency = ProjectDependency.new(project, KeyDependency.new(slug: platform)) %>
                <%= format_maintenance_light(dependency, with_name: true) if dependency.valid? %>
              <% end %>
            </td>
            <td class="project-database database-<%= (project.database || "none").downcase %>">
              <%= project.database %>
            </td>
            <td class="project-category">
              <%= project.category %>
            </td>
            <td class="project-last-build">
              <% if test_run = project.last_test_run %>
                <h5 class="test-result-banner <%= test_run.result || "pending" %>" rel="tooltip" title="<%= test_run_summary(test_run) %>"><%= test_run.result || "&nbsp;".html_safe %></h5>
                <span class="test-run-commit">(<%= link_to_commit(OpenStruct.new(project: project, sha: test_run.commit)) %>)</span>
              <% end %>
            </td>
            <td class="project-last-release">
              <% if release = project.releases.first %>
                <%= link_to format_release_age(release), release_path(release) %>
                <span class="label label-inverse"><%= release.environment_name %></span>
              <% end %>
            </td>
            <td class="project-new-release">
              <% if can?(:create, Release) %>
                <div class="btn-group">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    New Release
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% Houston.config.environments.each do |environment| %>
                      <li><%= link_to environment, new_release_path(project, environment) %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </td>
            <td class="table-margin"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-info">There are no projects yet. Click <b>New Project</b> to create one.</div>
<% end %>

<% if can?(:read, Ticket) && can?(:read, Commit) && can?(:read, TestingNote) %>
  <p><%= link_to "Weekly Report", "/weekly_report" %></p>
<% end %>

<p><%= link_to "Dependency View", "/projects/dependencies" %></p>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#projects').tablesorter();
    });
  </script>
<% end %>
