<h1 class="space-below">
  Projects
  <%= link_to "New Project", new_project_path, :class => "btn btn-primary" if can?(:create, Project) %>
</h1>

<% if @projects.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="project-title">Title</th>
        <th colspan="4" class="project-links">Links</th>
        <th class="project-maintainers">Maintainers</th>
        <th class="project-platform">Platform</th>
        <th class="project-last-release">Last Testing Update (PRI)</th>
        <th class="project-last-release"></th>
        <th class="project-last-release">Last Release (Production)</th>
        <th class="project-last-release"></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <% dev = project.environments.find_by_slug("dev") %>
        <% master = project.environments.find_by_slug("master") %>
        <tr>
          <td class="project-title">
            <b class="bubble <%= project.color %>" rel="tooltip" title="<%= project.color.titleize %>" data-tooltip-placement="right"></b>
            <%= link_to project.name, edit_project_path(project) %>
          </td>
          <td class="project-link project-unfuddle-link">
            <% if project.unfuddle_id %>
              <%= link_to unfuddle_project_url(project), :target => "_blank" do %>
                <%= image_tag "/images/favicon-unfuddle.png", "data-tooltip-placement" => "right", :rel => "tooltip", :title => "View in Unfuddle", :width => 16, :height => 16 %>
              <% end %>
            <% end %>
          </td>
          <td class="project-link project-errbit-link">
            <% unless project.errbit_app_id.blank? %>
              <%= link_to errbit_app_url(project), :target => "_blank" do %>
                <%= image_tag "/images/favicon-errbit.png", "data-tooltip-placement" => "right", :rel => "tooltip", :title => "View in Errbit", :width => 16, :height => 16 %>
              <% end %>
            <% end %>
          </td>
          <td class="project-link project-github-link">
            <% if github_url?(project) %>
              <%= link_to github_project_url(project), :target => "_blank" do %>
                <%= image_tag "/images/favicon-github.png", "data-tooltip-placement" => "right", :rel => "tooltip", :title => "View in GitHub", :width => 16, :height => 16 %>
              <% end %>
            <% end %>
          </td>
          <td class="project-link project-newrelic-link">
            <% unless project.new_relic_id.blank? %>
              <%= link_to new_relic_project_url(project), :target => "_blank" do %>
                <%= image_tag "/images/favicon-newrelic.png", "data-tooltip-placement" => "right", :rel => "tooltip", :title => "View in New Relic", :width => 16, :height => 16 %>
              <% end %>
            <% end %>
          </td>
          <td class="project-maintainers">
            <% project.maintainers.each do |maintainer| %>
              <span class="project-maintainer"><%= avatar_for(maintainer) %>&nbsp;<%= link_to maintainer.name, user_path(maintainer) %></span>
            <% end %>
          </td>
          <td class="project-platform">
            <% platform = project.platform %>
            <% unless platform.blank? or @rails_version_latest.nil? %>
              <% minor_version = platform.version.to_s[/\d+\.\d+/] %>
              <% releases_since_version = @rails_minor_versions.index(minor_version) %>
              <% if releases_since_version > 1 %>
                <span class="stoplight red" rel="tooltip" title="<%= releases_since_version %> versions out-of-date"></span>
              <% elsif releases_since_version == 1 %>
                <span class="stoplight yellow" rel="tooltip" title="1 version out-of-date"></span>
              <% elsif platform.version < @rails_version_latest %>
                <span class="stoplight spring-green" rel="tooltip" title="update for security fixes"></span>
              <% else %>
                <span class="stoplight green" rel="tooltip" title="up-to-date"></span>
              <% end %>
              <span rel="tooltip" title="Parsed from Gemfile.lock"><%= platform %></span>
            <% end %>
          </td>
          <td class="project-last-release">
            <% release = dev && dev.releases.first %>
            <%= link_to format_release_date(release), project_environment_release_path(project, dev, release) if release %>
          </td>
          <td class="project-last-release">
            <% if dev %>
              <%= link_to "(View Releases)", project_releases_path(project, environment_id: dev) %>
              &nbsp;&nbsp;&nbsp;<%= link_to "New Update", new_project_environment_release_path(project, dev), :class => 'btn btn-primary btn-mini btn-new-release' if can?(:create, Release) %>
            <% end %>
          </td>
          <td class="project-last-release">
            <% release = master && master.releases.first %>
            <%= link_to format_release_date(release), project_environment_release_path(project, master, release) if release %>
          </td>
          <td class="project-last-release">
            <% if master %>
              <%= link_to "(View Releases)", project_environment_releases_path(project, master) %>
              &nbsp;&nbsp;&nbsp;<%= link_to "New Release", new_project_environment_release_path(project, master), :class => 'btn btn-primary btn-mini btn-new-release' if can?(:create, Release) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">There are no projects yet. Click <b>New Project</b> to create one.</div>
<% end %>
