<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path %>
  <%= p.actions do %>
    <%= link_to "New Project", new_project_path, :class => "btn btn-primary" if can?(:create, Project) %>
  <% end %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="project-title">Title</th>
      <th class="project-environments">Environments</th>
      <th class="project-last-release">Last Release</th>
      <th>Unfuddle Page</th>
      <th class="project-new-release"></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class="project-title">
          <%= link_to project.name, project_path(project) %>
          <span class="label <%= project.color %>"><%= project.color.capitalize %></span>
        </td>
        <td class="project-environments">
          <ol>
            <% project.environments.each do |environment| %>
              <li><%= link_to environment.name, project_environment_path(project, environment) %></li>
            <% end %>
          </ol>
        </td>
        <td class="project-last-release">
          <ol>
            <% project.environments.each do |environment| %>
              <li>
                <% if release = environment.releases.first %>
                  <%= link_to format_release_date(release), project_environment_release_path(project, environment, release) %>
                <% else %>
                  &mdash;
                <% end %>
              </li>
            <% end %>
          </ol>
        </td>
        <td><%= link_to "View in Unfuddle", unfuddle_project_url(project) if project.unfuddle_id %></td>
        <td class="project-new-release">
          <ol>
            <% project.environments.each do |environment| %>
              <li>
                <%= link_to "New Release", new_project_environment_release_path(project, environment), :class => 'btn btn-primary btn-mini btn-new-release' if can?(:create, Release) %>
                &nbsp;&nbsp;&nbsp;<%= link_to "View Releases", project_environment_releases_path(project, environment) %>
              </li>
            <% end %>
          </ol>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

