<% content_for :title do %>
<h1 class="project-banner space-below">
  Add Projects from GitHub
</h1>
<% end %>

<p>Select the repos to create projects for in Houston</p>

<%= form_tag do %>
  <ul id="repos">
    <% @repos.each do |repo| %>
      <li class="repo <%= "disabled" if repo[:project] %> <%= "retired" if repo[:project] && repo[:project].retired? %>">
        <% if repo[:project] %>
          <input type="checkbox" checked disabled />
        <% else %>
          <input type="checkbox" name="repos[]" value="<%= repo[:full_name] %>" id="<%= repo[:full_name] %>" />
        <% end %>

        <label for="<%= repo[:full_name] %>">
          <span class="repo-visibility">
            <% if repo[:private] %>
              <i class="fa fa-lock"></i>
            <% else %>
              <i class="fa fa-unlock"></i>
            <% end %>
          </span>
          <span class="repo-owner">
            <%= repo[:owner] %>
          </span>
          <span class="repo-name">
            <% if repo[:project] %>
              <span class="label <%= repo[:project].color %>">
                <%= repo[:name] %>
              </span>
            <% else %>
              <b><%= repo[:name] %></b>
            <% end %>
          </span>
        </label>
      </li>
    <% end %>
  </ul>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $(':checkbox').click(function(e) {
        var $checkbox = $(e.target);
        $checkbox.closest('.repo').toggleClass('selected', $checkbox.prop('checked'));
      });

      $('[type="submit"]').click(function(e) {
        e.preventDefault();
        $(e.target)
          .prop('disabled', true)
          .html('<i class="fa fa-spinner fa-spin"></i> Adding Projects...')
          .closest('form')
          .submit();
      });
    });
  </script>
<% end %>
