<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path,
                    @project.name => Project.all %>
  <%= p.actions do %>
    <%= link_to 'Edit', edit_project_path(@project), :class => 'btn' %>
    <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
<% end %>

<h2>Environments</h2>
<%= render :partial => "project_environments/table" %>

