<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path,
                    @project => Project.all %>
  <%= p.actions do %>
    <%= link_to 'Edit', edit_project_path(@project), :class => 'btn' if can?(:update, @project) %>
    <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' if can?(:destroy, @project) %>
  <% end %>
<% end %>

<%= render :partial => "kanban/kanban", locals: {projects: [@project]} %>

<div id="modal" style='display:none;padding:15px;' class='modal'>
  <form action="kanban/<%= @project.slug %>/staged_for_development" method="POST">
    <label for="ticket_number"><h3>Input Unfuddle Ticket Number</h3></label>
    <input type="text" name="ticket_number" value="" id="ticket_number">
    <input type="submit" value="Fetch Ticket">
  </form>
  <div id="error"></div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      var kanban = new Kanban({
        projects: [{slug: '<%= @project.slug %>', color: '<%= @project.color %>'}],
        queues: <%= raw KanbanQueue.slugs %>
      });
      kanban.loadQueues();
      $('#auto_update').initializeAutoUpdate(300000, kanban); // 5 minutes
      
      var $form = $('#modal form'),
          basePath = $form.attr('action') + '/';
      
      function createPlaceholder() {
        return $('<li class="ticket placeholder"><a data-toggle="modal" href="#modal"><span class="add-ticket">+<span></a></li>')
          .appendTo('#staged_for_development')
          .pseudoHover()
          .popover({
            title: 'Add Ticket',
            content: 'Click to add a ticket to the queue' });
      }
      
      kanban.observe('queueLoaded', function(queueName, project) {
        if(queueName == 'staged_for_development') {
          var numberOfTickets = $('#staged_for_development .ticket.' + project.slug).length;
          for(i=numberOfTickets, ii=<%= @project.number_of_slots %>; i<ii; i++) {
            createPlaceholder();
          }
        }
      });
      
      $('#staged_for_development').delegate('.ticket:not(.placeholder) a', 'click', function(e) {
        if(e.shiftKey) {
          e.stopImmediatePropagation();
          var $ticket = $(this).closest('.ticket'),
              ticket_number = $ticket.attr('data-number'),
              url = basePath + ticket_number,
              xhr = $.destroy(url);
          xhr.success(function() {
            $ticket.remove();
            $('.popover').remove();
            createPlaceholder();
          });
          xhr.error(function() {
            window.console.log('error', arguments)
          });
          return false;
        }
      });
      
      $form.submit(function(e) {
        var ticket_number = $('#ticket_number').val(),
            url = basePath + ticket_number,
            xhr = $.put(url);
        xhr.success(function(ticket) {
          $('#modal').modal('hide');
          var $placeholder = $('#staged_for_development .ticket.placeholder').first();
          $(kanban.renderTicket(ticket))
                .replaceAll($placeholder)
                .popoverForTicket()
                .pseudoHover();
        });
        xhr.error(function(e) {
          $('#modal #error').text(JSON.parse(e.responseText).errors[0]);
        });
        return false;
      });
    });
  </script>
<% end %>
