<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path,
                    @project => Project.all %>
  <%= p.actions do %>
    <%= link_to 'Edit', edit_project_path(@project), :class => 'btn' %>
    <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
<% end %>

<% @environments.each do |environment| %>
  <% releases = environment.releases.count %>
  <h5>
    <b><%= link_to environment.name, environment %></b>
    &mdash; <% if releases > 0 %>Latest Release<% else %><em>No Releases</em><% end %>
  </h5>
  <div class="well">
    <% if releases > 0 %>
      <%= render :partial => environment.releases.first %>
      <p><%= link_to "View past releases", project_environment_releases_path(@project, environment) %></p>
    <% end %>
    <%= link_to "New Release", new_project_environment_release_path(@project, environment), :class => 'btn btn-primary btn-mini btn-new-release' %>
  </div>
<% end %>

