<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path,
                    @project => Project.all %>
  <%= p.actions do %>
    <%= link_to 'Edit', edit_project_path(@project), :class => 'btn' %>
    <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
<% end %>

<% @environments.each do |environment| %>
  <% release = environment.releases.first %>
  <% if release %>
    <h5><b><%= link_to environment.name, environment %></b> &mdash; Last Release</h5>
    <div class="well">
      <%= render :partial => release %>
    </div>
  <% else %>
    <h5><b><%= link_to environment.name, environment %></b></h5>
    <div class="well">
      <p>No releases</p>
    </div>
  <% end %>
<% end %>

