<h3 class="heading">
  <%= image_tag image_url("heading-git-48.png"), size: "48" %>
  Commits
</h3>

<div class="weekly-report-body">
  
  <table class="layout">
    <tr>
      <td colspan="2">
  
        <table class="commits">
          <thead>
            <tr>
              <% commits.weekdays[0...5].each do |weekday| %>
                <th width="80" class="<%= weekday.downcase %>"><%= weekday %></th>
              <% end %>
              <th width="80" class="weekend">Evening,<br />Weekend</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% commits.by_weekday.each do |weekday, commits| %>
                <td width="80" class="<%= weekday.downcase %>">
                  <% commits.each do |commit| %><b class="commit bubble <%= commit[:color] %>" rel="tooltip" title="<%= commit[:project] %>"></b><% end %>
                </td>
              <% end %>
              
              <td>
                <%= score_card :large do |s| %>
                  <% s.score (commits.count == 1 ? "Commit" : "Commits"), commits.count, :class => "total-commits" %>
                  <% s.score (commits.project_count == 1 ? "Project" : "Projects"), commits.project_count, :class => "total-projects" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        
      </td>
    </tr>
    
    <tr>
      <td width="40%">
        <%= pie_graph({
          data: commits.by_project.values,
          colors: commits.by_project.keys.map(&:color_value),
          labels: commits.by_project.keys.map(&:name),
          width: 320,
          height: 80,
          title: "Focus this week"
        }) %>
      </td>
      
      <td width="60%">
        <%= bar_graph({
          data: commits.history_by_project.values.map(&:values),
          colors: commits.history_by_project.keys.map(&:color_value),
          count: commits.weeks_of_history,
          height: 80,
          title: "#{commits.weeks_of_history}-week commit history"
        }) %>
      </td>
    </tr>
    
  </table>
  
</div>
