<table class="layout">
  <tr>
    <td>

      <table class="tickets-report">
        <tbody>
          <% tickets.projects.each do |project| %>
            <tr>
              <th><span class="label <%= project.color %>"><%= project.name %></span></th>
              <td>
                <%
                  new_tickets = tickets.arrivals_by_week_by_project[project].last
                  closed_tickets = tickets.departures_by_week_by_project[project].last
                  open_tickets = tickets.open_tickets_by_project[project]
                %>
                <%= score_card :medium do |s| %>
                  <% s.raw do %>
                    <p class="pie-graph">
                      <%= pie_graph data_by_color: tickets.by_severity_by_project[project], width: 56, retina: true %>
                    </p>
                  <% end %>
                  <% s.score "New", new_tickets, :class => "ticket-count-new",
                      prefix: "<span class=\"sign\">+</span>".html_safe %>
                  <% s.score "Fixed", closed_tickets, :class => "ticket-count-closed",
                      prefix: "<span class=\"sign\">&ndash;</span>".html_safe %>
                  <% s.score "Open", open_tickets, :class => "ticket-count-open" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </td>
  </tr>
  <tr>
    <td class="tickets-cfd">
      
      <div class="cfd">
        <%= cumulative_flow_diagram(
          arrivals: tickets.arrivals_by_week_by_project.values,
          departures: tickets.departures_by_week_by_project.values,
          colors: tickets.projects.map(&:color_value),
          width: 826,
          height: 300,
          title: "Cumulative Flow Diagram" ) %>
      </div>
      
    </td>
  </tr>
</table>
