<div class="weekly-report">
  <h1 class="weekly-report-heading">
    Weekly Report
    <span class="subtitle">
      <%= link_to "Prev", weekly_report_path(1.week.until(@date_range.begin)) unless for_email? %>
      Week of <b><%= @date_range.begin.strftime("%B %e") %></b><% if @date_range.begin.year != Date.today.year %>, <%= @date_range.begin.year %><% end %>
      <% next_date = 1.week.since(@date_range.begin) %>
      <% unless for_email? %>
        <% if next_date <= Date.today %>
          <%= link_to "Next", weekly_report_path(next_date) %>
        <% else %>
          <span class="disabled">Next</span>
        <% end %>
      <% end %>
    </span>
  </h1>
  
  <% @weekly_report.sections.each do |section| %>
    <%= render section %>
  <% end %>
  
</div>
