<div class="weekly-report">
  <h1 class="weekly-report-heading">
    Weekly Report
    <span class="subtitle">
      <%= link_to "Prev", weekly_report_path(1.week.until(@date_range.begin)) unless for_email? %>
      Week of <b><%= @date_range.begin.strftime("%B %e") %></b><% if @date_range.begin.year != Date.today.year %>, <%= @date_range.begin.year %><% end %>
      <% next_date = 1.week.since(@date_range.begin) %>
      <% unless for_email? %>
        <% if next_date <= Date.today %>
          <%= link_to "Next", weekly_report_path(next_date) %>
        <% else %>
          <span class="disabled">Next</span>
        <% end %>
      <% end %>
    </span>
  </h1>
  
  <%
    
    weekday_by_wday = %w{Weekend Monday Tuesday Wednesday Thursday Friday Weekend}
    weekdays = %w{Monday Tuesday Wednesday Thursday Friday Weekend}
    commits_by_weekday = Hash[weekdays.zip([[], [], [], [], [], []])]
    weekday_commits_by_project = {}
    projects_with_commits = 0
    total_commits = 0
    total_bugs = 0
    commits_by_week_by_project = Hash[@projects.zip]
    
    testing_notes_by_weekday = Hash[weekdays.zip([[], [], [], [], [], []])]
    
    weeks_of_commit_history = 26
    date_range_multiweek = ((weeks_of_commit_history - 1).weeks.before(@date_range.begin))..@date_range.end
    commit_history_weeks = date_range_multiweek.step(7)
    
    weeks_of_errbit_history = 16
    date_range_multiweek2 = ((weeks_of_errbit_history - 1).weeks.before(@date_range.begin))..@date_range.end
    errbit_history_weeks = date_range_multiweek2.step(7)
    
    time_range = @date_range.begin.beginning_of_day.to_time.to_i...@date_range.end.end_of_day.to_time.to_i
    time_range_multiweek = date_range_multiweek.begin.beginning_of_day.to_time.to_i...date_range_multiweek.end.end_of_day.to_time.to_i
    
    
    
    fails = 0
    passes = 0
    color = "666666"
    benchmark("Preparing data for testing activity") do
      testing_notes = TestingNote.where(:created_at => @date_range).where(["verdict != ?", "none"])
      
      testing_notes.each do |testing_note|
        weekday = weekday_by_wday[testing_note.created_at.wday]

        if testing_note.fail?
          fails += 1
          color = "BB2121"
        else
          passes += 1
          color = "67C741"
        end
        testing_notes_by_weekday[weekday].push(color: color)
      end
      
    end
    
    
    
    benchmark("Preparing data for commits graphs") do
      @projects.each do |project|
        
        commits_by_week = (commits_by_week_by_project[project] ||= Hash[commit_history_weeks.zip([0]*weeks_of_commit_history)])
        commits_this_week = false
        
        
        # commits = benchmark("[#{project.slug}] read commits") {
        #   `git --git-dir=#{project.git_dir} log --all --pretty='%at'`.split(/\n/).uniq
        # }
        commits = `git --git-dir=#{project.git_dir} log --all --pretty='%at'`.split(/\n/).uniq
        
        commits.each do |commit|
          timestamp = commit.to_i
          
          if time_range_multiweek.include?(timestamp)
            time = Time.at(timestamp)
            date = time.to_date
            
            week = date.beginning_of_week
            next unless commits_by_week.key?(week)
            commits_by_week[week] = commits_by_week[week] + 1
            
            if time_range.include?(timestamp)
              weekday = weekday_by_wday[date.wday]
              
              weekday_commits_by_project[project] = weekday_commits_by_project.fetch(project, 0) + 1 unless weekday == "Weekend"
              commits_by_weekday[weekday].push(color: project.color, project: project.name)
              commits_this_week = true
              total_commits += 1
            end
          end
        end
        
        
        
        projects_with_commits += 1 if commits_this_week
      end
    end
    
    
    
    bug_counts_by_project = {}
    bugs_by_week_by_project = Hash[@projects.zip]
    
    benchmark("Preparing data for bugs graphs") do
      
      bugs = Bug.during(date_range_multiweek2)
      
      bugs.each do |bug|
        project = @projects.detect { |project| project.errbit_app_id == bug.errbit_app_id }
        bugs_by_week = (bugs_by_week_by_project[project] ||= Hash[errbit_history_weeks.zip([0]*weeks_of_errbit_history)])
        bug_counts = (bug_counts_by_project[project] ||= {"fixed" => 0, "new" => 0, "open" => 0})
        
        errbit_history_weeks.each do |week|
          
          # open during week?
          if (bug.first_notice_at < week) && (bug.resolved_at.nil? || bug.resolved_at >= 7.days.after(week))
            bugs_by_week[week] += 1
          end
          
        end
        
        if (bug.first_notice_at < @date_range.end) && (bug.resolved_at.nil? || bug.resolved_at >= @date_range.begin)
          
          status = bug.resolved? ? "fixed" : (bug.first_notice_at >= @date_range.begin) ? "new" : "open"
          bug_counts[status] += 1
          
        end
        
      end
      
      
      total_bugs = bug_counts_by_project.values.map(&:values).flatten.sum
    end
    
    
    
    notices_by_week = Hash[errbit_history_weeks.zip([0]*weeks_of_errbit_history)]
    
    benchmark("Preparing data for notices graphs") do
      
      notices = Notice.during(date_range_multiweek2)
      
      notices.each do |notice|
        week = notice.created_at.beginning_of_week.to_date
        next unless notices_by_week.key?(week) # we're getting notices for the monday after the sunday that should end the range
        notices_by_week[week] += 1
      end
      
    end
    
    
    
    colors = Rails.application.config.colors
    
  %>
  
  
  
  <h3 class="heading">
    <%= image_tag image_url("heading-awardsb-48.png"), size: "48" %>
    Superlatives
  </h3>
  
  <div class="weekly-report-body">
    
    <h3 style="color: #bbb;">Coming soon</h3>
    
  </div>
  
  
  
  <h3 class="heading">
    <%= image_tag image_url("heading-commits-48.png"), size: "48" %>
    Commits
  </h3>
  
  <div class="weekly-report-body">
    
    <table class="layout">
      <tr>
        <td colspan="2">
    
          <table class="commits">
            <thead>
              <tr>
                <% weekdays.each do |weekday| %>
                  <th width="80"><%= weekday %></th>
                <% end %>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% weekdays.each do |weekday| %>
                  <td width="80">
                    <% commits_by_weekday[weekday].each do |commit| %><b class="commit bubble <%= commit[:color] %>" rel="tooltip" title="<%= commit[:project] %>"></b><% end %>
                  </td>
                <% end %>

                <td class="score">
                  <p class="total-commits">
                    <span class="score-count"><%= total_commits %></span>
                    <span class="score-label"><%= total_commits == 1 ? "Commit" : "Commits" %></span>
                  </p>
                  <p class="total-projects">
                    <span class="score-count"><%= projects_with_commits %></span>
                    <span class="score-label"><%= projects_with_commits == 1 ? "Project" : "Projects" %></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        
        </td>
      </tr>
      
      <tr>
        <td width="40%">
          <%= pie_graph({
            data: weekday_commits_by_project.values,
            colors: weekday_commits_by_project.keys.map { |project| colors[project.color] },
            labels: weekday_commits_by_project.keys.map(&:name),
            width: 320,
            height: 80,
            title: "Focus this week"
          }) %>
        </td>
        
        <td width="60%">
          <%= bar_graph({
            data: @projects.map { |project| commits_by_week_by_project[project].values },
            colors: @projects.map { |project| colors[project.color] },
            count: weeks_of_commit_history,
            height: 80,
            title: "#{weeks_of_commit_history}-week commit history"
          }) %>
        </td>
      </tr>
      
    </table>
    
  </div>
  
  
  
  <h3 class="heading">
    <div style="display:inline-block; width: 48px; height:48px; text-align: center; color: white; background: #444; border-radius: 1em;">?</div>
    Testing Notes
  </h3>
  
  <div class="weekly-report-body">
    
    <table class="layout">
      <tr>
        <td colspan="2">
    
          <table class="testing-notes no-bottom-margin">
            <thead>
              <tr>
                <% weekdays.each do |weekday| %>
                  <th width="80"><%= weekday %></th>
                <% end %>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% weekdays.each do |weekday| %>
                  <td width="80">
                    <% testing_notes_by_weekday[weekday].each do |testing_note| %><b class="testing-note-bubble bubble" style="background-color:#<%= testing_note[:color] %>"></b><% end %>
                  </td>
                <% end %>

                <td class="score">
                  <p class="testing-note-passes">
                    <span class="score-count"><%= passes %></span>
                    <span class="score-label"><%= passes == 1 ? "Pass" : "Passes" %></span>
                  </p>
                  <p class="testing-note-fails">
                    <span class="score-count"><%= fails %></span>
                    <span class="score-label"><%= fails == 1 ? "Fail" : "Fails" %></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        
        </td>
      </tr>
      
    </table>
    
  </div>
  
  
  
  <h3 class="heading">
    <%= image_tag image_url("heading-bugs-48.png"), size: "48" %>
    Exceptions
  </h3>
  
  <div class="weekly-report-body">
    <% if total_bugs == 0 %>
      
      <h3 style="color: #42A800;">No bugs! You win!</h3>
      
    <% else %>
      
      <table class="layout">
        <tr>
          <td colspan="3">
            
            <table class="bugs">
              <% @projects.where("errbit_app_id IS NOT NULL").each do |project| %>
                <% bug_counts = bug_counts_by_project[project] || {} %>
                <% if bug_counts.values.sum > 0 %>
                  <tr>
                    <th><b class="bubble <%= project.color %>"></b>&nbsp;<%= project.name %></th>
                    <td>
                      <% bug_counts["new"].times do %>
                        <%= image_tag(image_url("bug-new-32.png"), size: 32, :class => "bug") %>
                      <% end %>
                      <% bug_counts["open"].times do %>
                        <%= image_tag(image_url("bug-open-32.png"), size: 32, :class => "bug") %>
                      <% end %>
                      <% bug_counts["fixed"].times do %>
                        <%= image_tag(image_url("bug-fixed-32.png"), size: 32, :class => "bug") %>
                      <% end %>
                    </td>
                    <td class="score">
                      <p class="new-bugs <%= "zero" if bug_counts["new"].zero? %>">
                        <span class="score-count"><span class="sign">+</span><%= bug_counts["new"] %></span>
                        <span class="score-label">New</span>
                      </p>
                      <p class="resolved-bugs <%= "zero" if bug_counts["fixed"].zero? %>">
                        <span class="score-count"><span class="sign">&ndash;</span><%= bug_counts["fixed"] %></span>
                        <span class="score-label">Fixed</span>
                      </p>
                      <p class="open-bugs">
                        <span class="score-count"><%= bug_counts["open"] + bug_counts["new"] %></span>
                        <span class="score-label">Open</span>
                      </p>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
            
          </td>
        </tr>

        <tr>
          <td width="20%"></td>
          
          <td width="40%" align="center">
            <%= bar_graph({
              data: notices_by_week.values,
              colors: "888888",
              count: weeks_of_errbit_history,
              height: 80,
              title: "#{weeks_of_errbit_history}-week notice levels"
            }) %>
          </td>
          
          <td width="40%" align="center">
            <%
              width = ((14 + 4) * weeks_of_errbit_history) + 10 + 20
              cumulative_totals = [0] * weeks_of_errbit_history
              
              projects_included = []
              
              data = @projects.map do |project|
                values = bugs_by_week_by_project[project]
                if values
                  projects_included << project
                  values = values.values
                else
                  next
                end
                
                values.each_with_index do |value, i|
                  cumulative_totals[i] += value
                end
                cumulative_totals.dup
              end
              data.compact!
              
              colors_included = projects_included.map { |project| colors[project.color] }
            %>
            <%= area_graph({
              data: data,
              colors: colors_included,
              width: width,
              height: 80,
              title: "#{weeks_of_errbit_history}-week problem count"
            }) %>
          </td>
        </tr>

      </table>
    
    <% end %>
  </div>
  
  
  
  <h3 class="heading">
    <div style="display:inline-block; width: 48px; height:48px; text-align: center; color: white; background: #444; border-radius: 1em;">?</div>
    Performance
  </h3>
  
  <div class="weekly-report-body">
    
    <table class="layout">
      <tr>
        <td colspan="2">

          <table class="performance-report no-bottom-margin">
            <% benchmark("Preparing data for performance report") do %>
              <% alt = true %>
              <% @projects.where("new_relic_id IS NOT NULL").each do |project| %>
                <tr class="<%= "alt" if (alt=!alt) %>">
                  <th><b class="bubble <%= project.color %>"></b>&nbsp;<%= project.name %></th>
                  <td>
                    <%
                        account_id = Rails.application.config.new_relic[:account_id]
                        api_key = Rails.application.config.new_relic[:api_key]
                        url = "https://api.newrelic.com/api/v1/accounts/#{account_id}/metrics/data.json"
                        url << "?begin=#{@date_range.begin.iso8601}&end=#{@date_range.end.iso8601}"
                        url << "&metrics[]=Apdex&field=score"
                        url << "&agent_id[]=#{project.new_relic_id}"
                        
                        response = Faraday.get(url) { |curl| curl.headers["x-api-key"] = api_key }
                        json = JSON.load(response.body)
                        
                        scores = json.map { |result| result["score"] }
                        width = 480
                        height = 80
                    %>
                    
                    <%= image_tag ("http://chart.apis.google.com/chart" <<
                         "?cht=lc&chs=#{width}x#{height}&chco=6CB7B7&chls=4,4,0&chf=bg,s,FFFFFF00" <<
                         "&chds=0.5,1&chd=t:#{scores.join(",")}" <<
                         "&chxt=r&chxr=0,0.5,1" <<
                         "&chm=r,FEF2F5,0,0.4,0|r,F7F6E2,0,0.7,0.4|r,E8F9E9,0,0.9,0.7|r,D9F9F9,0,1,0.9").html_safe,
                        width: width,
                        height: height %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>

        </td>
      </tr>
    </table>
    
  </div>
  
  
  
  <h3 class="heading">
    <div style="display:inline-block; width: 48px; height:48px; text-align: center; color: white; background: #444; border-radius: 1em;">?</div>
    Tickets
  </h3>
  
  <div class="weekly-report-body">
    
    <h3 style="color: #bbb;">Coming soon</h3>
    
  </div>
  
  
  
  <h3 class="heading">
    <div style="display:inline-block; width: 48px; height:48px; text-align: center; color: white; background: #444; border-radius: 1em;">?</div>
    Queues <span style="font-weight: 100; color: #bbb;">(going away soon)</span>
  </h3>
  
  <div class="weekly-report-body">
    
    <table class="layout">
      <tr>
        <td colspan="2">

          <table class="tickets-report">
            <%
              
              week_ends = (15.weeks.ago(@date_range.end)..@date_range.end).step(7)
              
              ticket_queues = TicketQueue.arel_table
              data = week_ends.map do |week_end|
                scope = TicketQueue \
                  .where(ticket_queues[:created_at].lt(week_end)) \
                  .where(["destroyed_at IS NULL or destroyed_at > ?", week_end]) \
                  .joins(:ticket) \
                  .group("ticket_queues.queue, tickets.project_id") \
                  .select("ticket_queues.queue, tickets.project_id, COUNT(ticket_queues.id) AS count")
                
                TicketQueue.connection.select_all(scope.to_sql)
              end
              
              queues = KanbanQueue.all.map(&:slug)
              ticket_counts_by_project_by_queue = {}
              max_queue_size = 0
              
              queues.each do |queue|
                ticket_counts_by_project = ticket_counts_by_project_by_queue[queue] = {}
                
                cumulative_totals = [0] * week_ends.length
                
                @projects.each do |project|
                  ticket_counts = ticket_counts_by_project[project] = []
                  data.each_with_index do |hashes, i|
                    hash = hashes.find { |hash| hash["queue"] == queue && hash["project_id"] == project.id.to_s }
                    count = hash ? hash["count"].to_i : 0
                    ticket_counts << (cumulative_totals[i] += count)
                  end
                end
                
                max_queue_size = [max_queue_size, cumulative_totals.max].max
              end
              
            %>
            <% alt = true %>
            <% KanbanQueue.all.each do |queue| %>
              <% 
                ticket_counts_by_project = ticket_counts_by_project_by_queue[queue.slug]
                data = @projects.map { |project| ticket_counts_by_project[project] }
                data.unshift([max_queue_size] * 16)
              %>
              
              <tr class="<%= "alt" if (alt=!alt) %>">
                <th>
                  <span style="white-space:nowrap; font-weight:bold;"><%= queue.name %></span><br />
                  16-week<br />
                  queue size
                </th>
                <td align="center">
                  <%= area_graph({
                    data: data,
                    colors: @projects.map { |project| colors[project.color] },
                    width: 520,
                    height: 100,
                    axes: false,
                    title: nil
                  }) %>
                </td>
                <td class="score">
                  <%
                    this_week = data.last[15]
                    last_week = data.last[14]
                    diff = this_week - last_week
                  %>
                  <p class="ticket-diff <%= "zero" if diff.zero? %>">
                    <span class="score-count">
                      <% if diff < 0 %>
                        <span class="sign">&minus;</span><%= -diff %>
                      <% else %>
                        <span class="sign">+</span><%= diff %>
                      <% end %>
                    </span>
                    <span class="score-label">Change</span>
                  </p>
                  <p>
                    <span class="score-count"><%= this_week %></span>
                    <span class="score-label">Total</span>
                  </p>
                </td>
              </tr>
            <% end %>
          </table>

        </td>
      </tr>
    </table>
    
  </div>
  
</div>
