<div class="weekly-report">
  <h1 class="weekly-report-heading">
    Weekly Report
    <span class="subtitle">
      <%= link_to "Prev", weekly_report_path(1.week.until(@date_range.begin)) unless for_email? %>
      Week of <b><%= @date_range.begin.strftime("%B %e") %></b><% if @date_range.begin.year != Date.today.year %>, <%= @date_range.begin.year %><% end %>
      <% next_date = 1.week.since(@date_range.begin) %>
      <% unless for_email? %>
        <% if next_date <= Date.today %>
          <%= link_to "Next", weekly_report_path(next_date) %>
        <% else %>
          <span class="disabled">Next</span>
        <% end %>
      <% end %>
    </span>
  </h1>



  <h3 class="heading">
    <%= image_tag image_url("heading-commits-48.png"), size: "48" %>
    Commits
  </h3>

  <%
  
    weekday_by_wday = %w{Weekend Monday Tuesday Wednesday Thursday Friday Weekend}
    weekdays = %w{Monday Tuesday Wednesday Thursday Friday Weekend}
    commits_by_weekday = Hash[weekdays.zip([[], [], [], [], [], []])]
    projects_with_commits = 0
    @projects.each do |project|
      commits = project.commits_during(@date_range)
      commits.each do |commit|
        weekday = weekday_by_wday[commit.date.wday]
        commits_by_weekday[weekday].push({
          message: commit.message,
          color: project.color,
          project: project.name
        })
      end
      projects_with_commits += 1 if commits.any?
    end
    total_commits = commits_by_weekday.values.map(&:count).sum

  %>
  
  <div class="weekly-report-body">

    <table class="commits">
      <thead>
        <tr>
          <% weekdays.each do |weekday| %>
            <th width="80"><%= weekday %></th>
          <% end %>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% weekdays.each do |weekday| %>
            <td width="80">
              <% commits_by_weekday[weekday].each do |commit| %><b class="commit bubble <%= commit[:color] %>" rel="tooltip" title="<%= commit[:project] %>"></b><% end %>
            </td>
          <% end %>

          <td class="score">
            <p class="total-commits">
              <span class="score-count"><%= total_commits %></span>
              <span class="score-label"><%= total_commits == 1 ? "Commit" : "Commits" %></span>
            </p>
            <p class="total-projects">
              <span class="score-count"><%= projects_with_commits %></span>
              <span class="score-label"><%= projects_with_commits == 1 ? "Project" : "Projects" %></span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>



  <h3 class="heading">
    <%= image_tag image_url("heading-bugs-48.png"), size: "48" %>
    Bugs
  </h3>
  
  <div class="weekly-report-body">
    <% if @bugs.empty? %>
    
      <h1>No bugs! You win!</h1>
    
    <% else %>
    
      <table class="bugs">
        <% @projects.where("errbit_app_id IS NOT NULL").each do |project| %>
          <% bugs = @bugs
              .select { |bug| bug.errbit_app_id == project.errbit_app_id }
              .map { |bug| bug.resolved? ? "fixed" : @date_range.include?(bug.first_notice_at) ? "new" : "open" }
              .sort %>
          <% if bugs.any? %>
            <tr>
              <th><%= project.name %></th>
              <td>
                <%= in_columns(bugs, max_size: 13) { |bug| image_tag(image_url("bug-#{bug}-32.png"), size: 32, :class => "bug") } %>
              </td>
              <td class="score">
                <p class="new-bugs">
                  <span class="score-count"><span class="sign">+</span><%= bugs.grep("new").count %></span>
                  <span class="score-label">New</span>
                </p>
                <p class="resolved-bugs">
                  <span class="score-count"><span class="sign">&minus;</span><%= bugs.grep("fixed").count %></span>
                  <span class="score-label">Fixed</span>
                </p>
                <p class="open-bugs">
                  <span class="score-count"><%= bugs.grep(/new|open/).count %></span>
                  <span class="score-label">Open</span>
                </p>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    
    <% end %>
  </div>
  

  <!-- <h3 class="heading">
    <b class="heading icon tickets"></b>
    Tickets
  </h3>

  <table>
  </table> -->
</div>
