<div class="weekly-report">
  <h1 class="weekly-report-heading">
    Weekly Report
    <span class="subtitle">
      <%= link_to "Prev", weekly_report_path(prev_week(@weekly_report)) unless for_email? %>
      Week of <b><%= @weekly_report %></b><%= ", #{@weekly_report.year}" unless current_year?(@weekly_report.year) %>
      <% unless for_email? %>
        <% if (next_date = next_week(@weekly_report)) <= Date.today %>
          <%= link_to "Next", weekly_report_path(next_date) %>
        <% else %>
          <span class="disabled">Next</span>
        <% end %>
      <% end %>
    </span>
  </h1>
  
  <% @weekly_report.sections.each do |section| %>
    <h3 class="heading">
      <%= image_tag image_url(section.icon_url), size: "48" %>
      <%= section.title %>
    </h3>
    
    <div class="weekly-report-body">
      <%= render partial: section.template, locals: section.context %>
    </div>
  <% end %>
  
</div>
