<% @actions.each do |action| %>
  <tr class="action-error" data-timestamp="<%= action.finished_at.iso8601 %>">
    <td class="table-margin"></td>
    <td class="action-time"><%= format_time action.finished_at %></td>
    <td class="action-name"><%= link_to action[:name], action_path(slug: action[:name]) %></td>
    <td class="action-trigger"><%= action.trigger %></td>
    <td class="action-params"><%= format_action_params action.params %></td>
    <td class="action-error-message">
      <% unless action.error.type.blank? %>
        <b><%= action.error.type %></b>:
      <% end %>
      <%= action.error.message %>
    </td>
    <td class="table-margin"></td>
  </tr>
<% end %>
