<%= render partial: "projects/header", locals: {project: @project, subtitle: @queue.name} %>

<% if @tickets.any? %>
  <table class="tickets">
    <thead>
      <th class="ticket-number">#</th>
      <th class="ticket-summary">Summary</th>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr id="ticket_<%= ticket.id %>">
          <td class="ticket-number"><%= link_to_ticket(ticket) { "##{ticket.number}" } %></td>
          <td class="ticket-summary"><%= link_to_ticket(ticket) { format_with_feature_bolded(ticket.summary) } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">There are no tickets <b><%= @queue.name.downcase %></b> for <b><%= @project.name %></b> right now.</div>
<% end %>
