<%= render partial: "projects/header", locals: {
           project: @project,
           subtitle: "#{pluralize(@tickets.count, "tickets")} for"} %>

<%= link_to "New Ticket", new_ticket_path(@project), :class => "btn btn-default" if can?(:create, @project.tickets.build) %>

<%= link_to "Download for Excel", project_tickets_path(@project, format: :xls), :class => "btn btn-default" %>

<% if @tickets.any? %>
  <div class="nomargin">
    <table id="tickets" class="table table-sortable table-striped table-hoverable infinite-scroll">
      <thead>
        <tr>
          <td class="table-margin"></td>
          <th class="ticket-number" data-attribute="number">#</th>
          <td class="ticket-type ticket-type-na"></td>
          <td class="ticket-reporter"></td>
          <th class="ticket-summary" data-attribute="summary">Summary</th>
          <th class="ticket-antecedents" data-attribute="antecedents">Antecedents</th>
          <th class="ticket-opened sort-asc" data-attribute="openedAt">Opened</th>
          <th class="ticket-closed" data-attribute="closedAt">Closed</th>
          <td class="table-margin"></td>
        </tr>
      </thead>
    </table>
  </div>

  <% content_for :javascripts do %>
    <script type="text/javascript">
      $(function() {
        var tickets = new Tickets(<%=raw MultiJson.dump(@tickets.map(&:as_json)) %>, {parse: true});
        new TicketsView({tickets: tickets, project: <%=raw @project.slug.to_json %>});
      });
    </script>
  <% end %>
<% else %>
  <div class="alert alert-info">There are no tickets for this project yet. Click <b>New Ticket</b> to create one.</div>
<% end %>
