<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author><%= current_user.name %></Author>
  <LastAuthor><%= current_user.name %></LastAuthor>
  <Created><%= xls_time Time.now %></Created>
  <Company>Houston</Company>
  <Version>14.0</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>12700</WindowHeight>
  <WindowWidth>25600</WindowWidth>
  <WindowTopX>0</WindowTopX>
  <WindowTopY>0</WindowTopY>
  <ActiveSheet>0</ActiveSheet>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s64">
   <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="s65">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Font ss:FontName="Calibri" ss:Size="12" ss:Color="#000000" ss:Bold="1"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="Tickets">
  <Table ss:ExpandedColumnCount="7" ss:ExpandedRowCount="<%= 1 + @tickets.count %>" x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="15">
   <Column ss:AutoFitWidth="0" ss:Width="50"/>
   <Column ss:AutoFitWidth="0" ss:Width="100"/>
   <Column ss:AutoFitWidth="0" ss:Width="150"/>
   <Column ss:AutoFitWidth="0" ss:Width="700"/>
   <Column ss:AutoFitWidth="0" ss:Width="85"/>
   <Column ss:AutoFitWidth="0" ss:Width="85"/>
   <Row ss:StyleID="s65">
    <Cell><Data ss:Type="String">Number</Data></Cell>
    <Cell><Data ss:Type="String">Type</Data></Cell>
    <Cell><Data ss:Type="String">Reporter Name</Data></Cell>
    <Cell><Data ss:Type="String">Summary</Data></Cell>
    <Cell><Data ss:Type="String">Opened</Data></Cell>
    <Cell><Data ss:Type="String">Closed</Data></Cell>
   </Row>
   <% @tickets.each do |ticket| %>
   <Row>
    <Cell><Data ss:Type="Number"><%= ticket.number %></Data></Cell>
    <Cell><Data ss:Type="String"><%= ticket.type %></Data></Cell>
    <Cell><Data ss:Type="String"><%= ticket.reporter_name %></Data></Cell>
    <Cell><Data ss:Type="String"><%= ticket.summary %></Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="DateTime"><%= xls_time ticket.opened_at %></Data></Cell>
    <% if ticket.closed_at %>
    <Cell ss:StyleID="s64"><Data ss:Type="DateTime"><%= xls_time ticket.closed_at  %></Data></Cell>
    <% else %>
    <Cell ss:StyleID="s64"/>
    <% end %>
   </Row>
   <% end %>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageLayoutZoom>0</PageLayoutZoom>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>1</ActiveRow>
     <ActiveCol>2</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
</Workbook>
