<% content_for :title do %>
<h1 class="project-banner <%= @project.color %>">
  <small>New Ticket for</small> <%= @project.name %> <small>
</h1>
<% end %>

<%= render "projects/ticket_tracker_refresh" %>

<form id="new_ticket_view" data-mode="type">
  <div class="sequence-new-ticket-wrap">
    <input id="ticket_summary" name="ticket[summary]" type="text" placeholder="[feature] New Feature: type your summary here" class="mousetrap" />
    <ol id="ticket_suggestions">
    </ol>
    <div class="sequence-ticket-description sequence-new-ticket-full">
      <textarea id="ticket_description" name="ticket[description]" rows="4" class="mousetrap"></textarea>
    </div>
  </div>
  <div class="sequence-new-ticket-full sequence-new-ticket-buttons">
    <button class="btn" id="reset_ticket">Cancel</button>
    <button class="btn btn-primary" id="create_ticket">Create</button>
  </div>
</form>


<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    new NewTicketView({
      tickets: <%= raw @tickets.to_json %>,
      project: { slug: <%= raw @project.slug.to_json %> },
      labels: <%= raw @labels.to_json %>
    }).render();
  });
</script>
<% end %>
