<%= render partial: "projects/header", locals: {
           project: @project,
           subtitle: "#{pluralize(@tickets.count, "open bugs")} for"} %>

<div class="callout callout-slim callout-banner">
  <input type="text" id="tickets_filter" placeholder="Filter Bugs" style="margin: 0" />

  <%= link_to "Open Bugs", project_bugs_path(@project), class: "btn btn-default btn-toggle active" %>
  <%= link_to "New Bug", new_ticket_path(@project), :class => "btn btn-default" if can?(:create, @project.tickets.build) %>
  <%= link_to "Download for Excel", {format: :xls}, :class => "btn btn-default" %>
</div>

<%= render "tickets" %>
