<%= render partial: "projects/header", locals: {project: @project, subtitle: "Ticket"} unless request.xhr? %>

<div class="ticket ticket-view <%= "modal-body" if request.xhr? %>" id="ticket_view">
  <div class="ticket-header">
    <h2>
      <span class="ticket-number">#<%= @ticket.number %></span>
      <span class="ticket-summary editable" id="ticket_summary">
        <span class="show" title="<%= @ticket.summary %>"><%= @ticket.summary %></span>
        <span class="edit"><input type="text" name="summary" /></span>
      </span>
    </h2>

    <div class="ticket-state-position">
    <% if @ticket.closed? %>
      <div class="ticket-state closed"></div>
    <% else %>
      <div class="ticket-state open"></div>
    <% end %>
    </div>

    <div class="ticket-reporter">
      Opened
      <% if @ticket.reporter %>
        by <%= avatar_for @ticket.reporter, size: 16 %>
        <b><%= @ticket.reporter.name %></b>
      <% end %>
      <span class="ticket-opened date" title="<%= @ticket.created_at.strftime("%b %e %Y, %l:%M %p") %>"><%= time_ago_in_words @ticket.created_at %> ago</span>
    </div>
    
    <% if @project.ticket_tracker_name == "Houston" %>
      <div class="ticket-tracker-link">
        <%= link_to "permalink", @ticket.ticket_tracker_ticket_url %>
      </div>
    <% else %>
      <div class="ticket-tracker-link">
        <%= link_to "Open in #{@project.ticket_tracker_name}", @ticket.ticket_tracker_ticket_url %>
      </div>
    <% end %>
  </div>

  <% unless request.xhr? %>
  <hr />
  <% end %>

  <div class="ticket-body">
    <div class="ticket-description editable primary-frame" id="ticket_description">
      <div class="show"><%= mdown @ticket.description %></div>
      <div class="edit">
        <div class="uploader">
          <textarea name="description"></textarea>
        </div>
        <p class="buttons">
          <button type="reset" class="btn btn-link">Cancel</button>
          <button type="submit" class="btn btn-default">Save</button>
        </p>
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      new EditTicketView({
        el: document.getElementById('ticket_view'),
        ticket: new Ticket(<%=raw({
          id: @ticket.id,
          projectSlug: @project.slug,
          number: @ticket.number,
          summary: @ticket.summary,
          description: @ticket.description
        }.to_json) %>)
      }).render();
    });
  </script>
<% end unless request.xhr? %>
