<h1 class="project-banner <%= @project.color %>" style="margin-bottom: 12px;">
  <small>Tests for</small> <%= @project.name %>
</h1>

<div class="nomargin">
  <table id="project_tests" class="table table-sortable table-striped project-tests">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <th class="test-name sort-asc">Name</th>
        <th class="test-passes">Passes</th>
        <th class="test-fails">Fails</th>
        <th class="test-graph">Graph</th>
        <th class="test-duration">Duration</th>
        <td class="table-margin"></td>
      </tr>
    </thead>
    <tbody>
      <% @tests.each do |test| %>
        <tr class="test">
          <td class="table-margin"></td>
          <td class="test-name">
            <%= link_to project_test_url(slug: @project.slug, id: test[:id]) do %>
              <span class="test-suite-name"><%= test[:suite].gsub("__", "::") %></span>
              <span class="test-name"><%= test[:name].to_s.gsub(/^(test :|: )/, "") %></span>
            <% end %>
          </td>
          <td class="test-passes"><%= test_results_pass_count(test)%></td>
          <td class="test-fails"><%= test_results_fail_count(test)%></td>
          <td class="test-graph" data-position="<%= test_results_count(test) %>"><%= test_results_graph(test) %></td>
          <td class="test-duration">
            <span class="test-duration-average"><%= test[:duration_avg].to_i %>ms</span>
            <span class="test-duration-range">
              <%= test[:duration5].to_i %>ms &ndash; <%= test[:duration95].to_i %>ms
            </span>
          </td>
          <td class="table-margin"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#project_tests').tablesorter({
        headers: {
          4: {sorter: 'property'},
          5: {sorter: 'digit'}
        }
      });
    });
  </script>
<% end %>
