<li class="testing-note{{#if tester}} by-tester{{/if}} new">
  <div class="tester-avatar">{{{userAvatar 24}}}</div>
  <form accept-charset="UTF-8" action="/tickets/{{ticketId}}/testing_notes" class="testing-note-form" id="new_testing_note" method="post">
    {{#if tester}}
    <p>
      <input data-attr="ticket_id" id="ticket_{{ticketId}}_new_testing_note_ticket_id" name="ticket_id" type="hidden" value="{{ticketId}}" />
      <label for="ticket_{{ticketId}}_new_testing_note_verdict_works"><input id="ticket_{{ticketId}}_new_testing_note_verdict_works" name="verdict" type="radio" value="works"> Works as written</label> (Could be improved?
      <a href="/projects/{{projectSlug}}/tickets/new" target="_blank">File a ticket!</a> <img alt="stuck_out_tongue_winking_eye" height="20" width="20" src="/images/emoji/stuck_out_tongue_winking_eye.png" class="emoji">)<br />
      <label for="ticket_{{ticketId}}_new_testing_note_verdict_fails"><input id="ticket_{{ticketId}}_new_testing_note_verdict_fails" name="verdict" type="radio" value="fails"> Doesn't do what it says or introduces a regression</label><br />
      <label for="ticket_{{ticketId}}_new_testing_note_verdict_badticket"><input id="ticket_{{ticketId}}_new_testing_note_verdict_badticket" name="verdict" type="radio" value="badticket"> I do not understand how to test this ticket</label><br />
      <label for="ticket_{{ticketId}}_new_testing_note_verdict_none"><input id="ticket_{{ticketId}}_new_testing_note_verdict_none" name="verdict" type="radio" value="none"> No verdict</label>
    </p>
    {{else}}
    <input data-attr="ticket_id" id="ticket_{{ticketId}}_new_testing_note_ticket_id" name="ticket_id" type="hidden" value="{{ticketId}}" />
    <input data-attr="ticket_id" id="ticket_{{ticketId}}_new_testing_note_verdict" name="verdict" type="hidden" value="none" />
    {{/if}}
    <p>
      <textarea id="testing_note_comment" name="comment" value=""></textarea>
    </p>
    <p>
      <input class="btn btn-primary btn-post" name="commit" type="submit" value="Post" />
      {{#if developer}}
      <button class="btn btn-post-and-reset" id="commit_and_reset">Post Comment and Reset Verdict</button>
      {{/if}}
    </p>
  </form>
</li>
