<%= form_for @authorization, url: {controller: "authorizations"}, html: {class: "form-horizontal"} do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :type, "Provider", class: "control-label" %>
      <div class="controls">
        <%= f.select :type, Authorization.providers %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :scope, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :scope, class: "text_field" %>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit nil, class: "btn btn-primary" %>
    <%= link_to "Cancel", my_authorizations_path, class: "btn" %>

    <% if @authorization.persisted? && can?(:destroy, @authorization) %>
      <button class="btn btn-delete btn-danger" id="delete_authorization_button">Revoke</button>
    <% end %>
  </div>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    <% if @authorization.persisted? && can?(:destroy, @authorization) %>
    $('#delete_authorization_button').click(function(e) {
      e.preventDefault();
      App.confirmDelete({
        resource: 'Authorization',
        message: 'This will revoke authorization for "<%= @authorization.provider.name %>".',
        url: <%=raw authorization_path(@authorization).to_json %>
      });
    });
    <% end %>

    $('#authorization_name').select();
  });
</script>
<% end %>
