<%= form_for @release, :url => @release.new_record? ? releases_path(@project, @environment) : release_path(@release), :html => { :class => "form-horizontal release-form" } do |f| %>
  <%= f.hidden_field :commit0 %>
  <%= f.hidden_field :commit1 %>
  <%= f.hidden_field :deploy_id %>
  <%= hidden_field_tag :recreate, params[:recreate] %>
  

  <fieldset class="release-detail">
    <div class="control-group">
      <%= f.label :message, :class => "control-label" %>
      <div class="controls">
        <p class="expander optional" data-expand="ticket_message_block">
          <a href="#">Click to add a message to the release</a>
        </p>
        <div id="ticket_message_block" class="collapsed">
          <%= f.text_area :message, :class => "text_field" %>
        </div>
      </div>
    </div>

    <div class="release-detail-section">
      <%= f.label :release_changes, "Changes", :class => "control-label" %>
      <div class="controls changes-nested-editor row-fluid">
        <p class="instructions">Describe, in users&rsquo; terms, what this release changes</p>
        <%= f.nested_editor_for :release_changes do |f| -%>
          <div class="change-tag span3"><%= f.collection_select :tag_slug, [NullTag.instance] + Houston.config.change_tags, :slug, :name %></div>
          <div class="change-description span8"><%= f.text_field :description, maxlength: 255 %></div>
        <% end -%>
      </div>
    </div>
    
    <div class="release-detail-section release-tickets">
      <%= f.label :tickets, "Tickets".html_safe, :class => "control-label" %>
      <div class="controls">
        <p class="instructions">Select the tickets which are being released</p>
        <table class="release-tickets changes-nested-editor">
          <tbody id="release_tickets">
            <% @release.tickets.each do |ticket| %>
              <tr id="ticket_<%= ticket.id %>">
                <td class="release-ticket-check">
                  <input type="checkbox" id="release_ticket_<%= ticket.id %>" name="release[ticket_ids][]" value="<%= ticket.id %>" />
                </td>
                <td class="release-ticket-summary">
                  <label for="release_ticket_<%= ticket.id %>">
                    <%= format_with_feature_bolded(ticket.summary) %>
                  </label>
                </td>
                <td class="release-ticket-number">
                  <%= link_to_ticket(ticket) { "##{ticket.number}" } %>
                </td>
              </tr>
            <% end %>
            <tr id="new_ticket_li">
              <td colspan="3">
                <input type="text" id="new_ticket_field" placeholder="Look up ticket to add to this release" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <% if @release.commits.any? %>
    <div class="release-detail-section release-commits">
      <label class="control-label">Commits</label>
      <div class="controls changes-nested-editor">
        <p class="expander" data-expand="commits_block">
          <%= pluralize @release.commits.length, "commits" %> hidden •
          <a href="#">show all</a>
        </p>
        <div id="commits_block" class="collapsed">
          <ul class="commits">
            <% @release.commits.each do |commit| %>
              <li><%= format_commit(commit) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    
    <div class="callout callout-footer">
      <label class="control-label">Actions</label>
      
      <div class="controls">
      <% if @release.new_record? %>
        <p>
          <label for="send_release_email">
            <input type="checkbox" id="send_release_email" name="send_release_email" value="1" checked="checked" /> Send notifications about this release 
          </label>
        </p>
        <p>
          <label for="resolve_tickets">
            <input type="checkbox" id="resolve_tickets" name="resolve_tickets" value="1" checked="checked" /> Resolve the selected tickets
          </label>
        </p>
      <% end %>
      </div>
      
      <div class="controls" style="margin-top: 1.5em">
        <%= f.submit nil, :class => "btn btn-primary" %>
        <%= link_to "Cancel", releases_path(@project), :class => "btn" %>
        <%= link_to "Delete", release_path(@release), :method => "delete", :confirm => "Are you sure?", :class => "btn btn-danger btn-delete" if @release.persisted? && can?(:destroy, @release) %>
      </div>
    </div>
  </fieldset>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('[data-expand]').click(function(e) {
        e.preventDefault();
        
        var $a = $(this),
            $target = $('#' + $a.attr('data-expand'));
        if($target.length) {
          $a.hide();
          $target.slideDown(200, function() {
            $target.find('textarea').autosize();
          });
        }
      });
    });
  </script>
<% end %>
