<%= form_for @release, :url => @release.new_record? ? project_environment_releases_path(@project, @environment) : release_path(@release), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :commit0 %>
  <%= f.hidden_field :commit1 %>
  <%= f.hidden_field :deploy_id %>
  

  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :message, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :message, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :changes, :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <%= f.nested_editor_for :changes do |f| -%>
          <div class="change-description"><%= f.text_field :description, maxlength: 255 %></div>
        <% end -%>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :tickets, "Tickets", :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <ol>
          <% @release.tickets.each do |ticket| %>
            <li><%= link_to_ticket(ticket) %></li>
          <% end %>
        </ol>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Goldmine No.</label>
      <div class="controls changes-nested-editor">
        <ul class="goldmine-numbers">
          <% @release.goldmine_numbers.each do |number| %>
            <li><%= number %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Commits</label>
      <div class="controls changes-nested-editor">
        <ul class="commits">
          <% @release.commits.each do |commit| %>
            <li><%= format_commit(commit) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <% if @deployment %>
    <div class="control-group">
      <div class="controls">
        <label for="update_tickets_in_unfuddle">
          <input type="checkbox" id="update_tickets_in_unfuddle" name="update_tickets_in_unfuddle" value="1" checked="checked" /> Change tickets' <b>Deployment</b> to <b><%= @deployment %></b>
        </label>
      </div>
    </div>
    <% end %>
    
    <% if @release.new_record? %>
    <div class="control-group">
      <div class="controls">
        <label for="send_release_email">
          <input type="checkbox" id="send_release_email" name="send_release_email" value="1" checked="checked" /> Send notifications about this release 
        </label>
      </div>
    </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', releases_path, :class => 'btn' %>
      <%= link_to "Delete", release_path(@release), :method => "delete", :confirm => "Are you sure?", :class => "btn btn-danger btn-delete" if @release.persisted? && can?(:destroy, @release) %>
    </div>
  </fieldset>
<% end %>
