<%= form_for @release, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :commit0 %>
  <%= f.hidden_field :commit1 %>

  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :changes, :class => 'control-label' %>
      <div class="controls changes-nested-editor">
        <%= f.nested_editor_for :changes do |f| -%>
          <div class="change-description"><%= f.text_field :description %></div>
        <% end -%>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', releases_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
