<% if !@manual && (@commit0.blank? || @commit1.blank?) %>
  <div class="alert alert-info">
    Please enter a range of commits for this release. <%= link_to "Enter a release manually", {manual: true} %>
  </div>
<% elsif @release.commit_not_found_error_message %>
  <div class="alert alert-error">
    <%= replace_quotes(@release.commit_not_found_error_message) %>
  </div>
<% elsif !@manual && @release.commits.none? %>
  <div class="alert alert-error">
    There are no commits in the repo <code><%= @project.repo %></code> that match <code><%= @commit0 %>...<%= @commit1 %></code>
  </div>
<% else %>
  <%= render partial: "form" %>
<% end %>
