<%= render partial: "projects/header", locals: {project: @project, subtitle: "Releases of"} %>

<ul class="nav nav-pills inline">
  <% @project.environments_with_release_notes.each do |environment| %>
    <% if can?(:read, @project.releases.build(environment_name: environment)) %>
      <%= content_tag :li, :class => (@environment == environment ? "active" : nil) do %>
        <% link_to environment.titleize, releases_path(@project, environment: environment) %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Release", new_release_path(@project, @environment), :class => 'btn btn-primary' if @environment && can?(:create, Release) %>

<form id="search_releases" method="get" class="input-group pull-right">
  <%= search_field_tag :q, @q, autofocus: true %><%=
      hidden_field_tag :environment, @environment %><%=
      submit_tag "Search", class: "btn btn-default" -%>
</form>


<div id="releases" class="release-search-result">
  <%= render partial: (@q ? "releases/results" : "releases/index") %>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var $form = $('#search_releases');
    $form.submit(function(e) {
      e.preventDefault();
      var url = window.location.pathname + '?' + $form.serialize();
      $form.find('input[type="submit"]').prop('disabled', true);
      $.get(url)
        .success(function(html) {
          $('#releases').html(html);
        })
        .complete(function() {
          $form.find('input[type="submit"]').prop('disabled', false);
        });
    });
  });
</script>
<% end %>
