<%= render partial: "projects/header", locals: {project: @project, subtitle: "Releases"} %>

<ul class="nav nav-pills inline">
  <% @project.environments.each do |environment| %>
    <%= content_tag :li, :class => (@environment.id == environment.id ? "active" : nil) do %>
      <% link_to environment.name, project_releases_path(@project, environment_id: environment.slug) %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Release", new_project_environment_release_path(@project, @environment), :class => 'btn btn-primary' if @environment && can?(:create, Release) %>


<% if @releases.none? %>

  <div class="alert alert-info">
    There have been no releases of <b><%= @project.name %></b>
    <% if @environment %>
     to <b><%= @environment.name %></b>
    <% end %>
    recorded.
  </div>

<% else %>

   <% date = nil %>
   <div id="<%= @project.slug %>_changelog" class="-houston-changelog">
    <% @releases.each do |release| %>
      
      <% if date.nil? || date != release.date %>
        <% if date %></div><% end %><%# end .-houston-changelog-day %>
        <div class="-houston-changelog-day">
          <h4><%= format_release_date(date = release.date) %></h4>
      <% end %>
      
      <%= div_for(release) do %>
        <p class="release-header">
          <%= release.released_at.strftime("%l:%M %p") %>
          <%= link_to "details &rarr;".html_safe, release %>
        </p>
        
        <%= render partial: "releases/changes", locals: {changes: release.changes} %>
        
      <% end %>
      
    <% end %>
    <% if date %></div><% end %><%# end .-houston-changelog-day %>
  </div>

<% end %>
