<%= render partial: "projects/header", locals: {project: @project, subtitle: "Releases of"} %>

<ul class="nav nav-pills inline">
  <% Houston.config.environments.each do |environment| %>
    <% if can?(:read, @project.releases.build(environment_name: environment)) %>
      <%= content_tag :li, :class => (@environment == environment ? "active" : nil) do %>
        <% link_to environment, releases_path(@project, environment: environment) %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Release", new_release_path(@project, @environment), :class => 'btn btn-primary' if @environment && can?(:create, Release) %>


<% if @releases.none? %>

  <div class="alert alert-info">
    There have been no releases of <b><%= @project.name %></b> to <b><%= @environment %></b> recorded.
  </div>

<% else %>
  
  
  <% if can?(:read, @project.commits.build) %>
    <% head = @releases.first.commit1 %>
    <% (Houston.config.environments - [@environment]).each do |other_environment| %>
      <% benchmark "compare commits to #{other_environment}" do %>
        <% other_environment_last_release = @project.releases.to_environment(other_environment).first %>
        <% next unless other_environment_last_release %>
        
        <% other_head = other_environment_last_release.commit1 %>
        <% next if other_head.blank? %>
        <% begin %>
          <% commits = @project.repo.commits_between(other_head, head) %>
          <p class="alert alert-info">
            <%= @environment %> is <%= commits.length %> commits ahead of <%= other_environment %>:
            <span class="commit-range"><%= link_to_commit_range(@project, other_head, head) %></span>
          </p>
        <% rescue Houston::Adapters::VersionControl::CommitNotFound %>
          <% begin %>
            <% commits = @project.repo.commits_between(head, other_head) %>
            <p class="alert alert-info">
              <%= @environment %> is <%= commits.length %> commits behind <%= other_environment %>:
              <span class="commit-range"><%= link_to_commit_range(@project, head, other_head) %></span>
            </p>
          <% rescue Houston::Adapters::VersionControl::CommitNotFound %>
            <p class="alert">
              <%= @environment %> isn't in the same history as <%= other_environment %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    <% end unless head.blank? %>
  <% end %>
  
  <% date = nil %>
  <div id="<%= @project.slug %>_changelog" class="-houston-changelog">
    <% @releases.each do |release| %>
      
      <% if date.nil? || date != release.date %>
        <% if date %></div><% end %><%# end .-houston-changelog-day %>
        <div class="-houston-changelog-day">
          <h4><%= format_release_date(date = release.date) %></h4>
      <% end %>
      
      <%= div_for(release) do %>
        <p class="release-header">
          <%= release.released_at.strftime("%l:%M %p") %>&nbsp;&nbsp;
          <%= link_to "details &rarr;".html_safe, release %>
          
          <% if can?(:read, @project.commits.build) %>
            <span class="commit-range"><%= link_to_release_commit_range(release) %></span>
          <% end %>
        </p>
        
        <%= render partial: "releases/changes", locals: {changes: release.changes} %>
        
      <% end %>
      
    <% end %>
    <% if date %></div><% end %><%# end .-houston-changelog-day %>
  </div>

<% end %>
