<%= render partial: "projects/header", locals: {project: @project, subtitle: "New Release"} %>

<% if @deploy && @deploy.release %>

  <div class="alert alert-error">
    Release notes have already been created for this deploy.
    <%= link_to "Edit", edit_release_path(@deploy.release) %>
  </div>

<% else %>

  <form accept-charset="UTF-8" action="<%= new_release_path(@project, @environment) %>" class="form-horizontal pjax" method="get">
    <fieldset>
      <div class="control-group form-actions">
        <h3>Create a New Release for the following commits</h3>
        <%= hidden_field_tag :deploy_id, params[:deploy_id] %>
        <%= text_field_tag :commit0, @commit0, :class => "text_field" %>
        ...
        <%= text_field_tag :commit, @commit1, :class => "text_field" %>
        <%= submit_tag "Continue", :name => nil, :class => "btn btn-primary" %>
      </div>
    </fieldset>
  </form>

  <hr />

  <div id="new_release_form">
    <%= render partial: "releases/new_release" %>
  </div>

<% end%>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    App.NewReleaseForm.init();
    
    $('form.pjax').submit(function(e) {
      e.preventDefault();
      var $form = $(this),
          url = $form.attr('action') + '?' + $form.serialize();
      $.pjax({
        url: url,
        container: '#new_release_form',
        success: function() {
          FT.updateNestedEditors();
          App.NewReleaseForm.init();
        }
      });
      return false;
    });
  });
</script>
<% end %>
