<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path,
                    @project => Project.all,
                    @environment => @project.environments,
                    "Releases" => project_environment_releases_path(@project, @environment),
                    "New" => nil %>
<% end %>

<% if @commit1.blank? %>
  <p>What is the SHA of the latest release?</p>
<% else %>
  <p>The SHA you specified has no commits on this branch.</p>
<% end %>

<form accept-charset="UTF-8" action="<%= new_project_environment_release_path(@project, @environment) %>" class="form-horizontal" method="get">
  <fieldset>
    <div class="control-group">
      <%= label_tag :commit0, "Last Commit", :class => "control-label" %>
      <div class="controls">
        <%= text_field_tag :commit0, @commit0, :class => "text_field" %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :commit, "Commit", :class => "control-label" %>
      <div class="controls">
        <%= text_field_tag :commit, @commit1, :class => "text_field" %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag "Continue", :name => nil, :class => "btn btn-primary" %>
      <%= link_to "Cancel", releases_path, :class => "btn" %>
    </div>
  </fieldset>
</form>