<%= render partial: "releases/header", locals: {release: @release} %>

<div class="release">
  
  <h3><%= @release.name %></h3>
  
  <div class="release-message">
    <%= mdown(@release.message) %>
  </div>
  
  <div class="release-detail">
    
    <%= render partial: "releases/changelog", locals: {release: @release} %>
    
    <h5>Commits</h5>
    <ul class="commits">
      <% @release.commits.each do |commit| %>
        <li>
          <%= format_commit(commit) %>
          <%= link_to_commit(commit) if github_url?(@project) && can?(:read, commit) %>
        </li>
      <% end %>
    </ul>
    
  </div>
  
</div>
