<%= header do |p| %>
  <%= p.breadcrumbs "Projects" => projects_path,
                    @project.name => Project.all,
                    "Environments" => project_environments_path(@project),
                    @environment.name => @project.environments,
                    "Releases" => project_environment_releases_path(@project, @environment),
                    @release.name => @environment.releases %>
  <%= p.actions do %>
    <%= link_to 'Edit', edit_release_path(@release), :class => 'btn' %>
    <%= link_to 'Delete', release_path(@release), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
<% end %>

<h3><%= @release.name %></h4>
<ul class="changes">
  <% @release.changes.each do |change| %>
    <li><%= change.description %></li>
  <% end %>
</ul>

<h5>Commits</h5>
<ul class="commits">
  <% @release.commits.each do |commit| %>
    <li><%= commit.message %></li>
  <% end %>
</ul>
