<%= render partial: "releases/header", locals: {release: @release} %>

<div id="<%= @release.project.slug %>_changelog" class="-houston-changelog">
  
  <div class="-houston-changelog-day">
    <h4><%= format_release_date(@release.date) %></h4>
  </div>
  
  <%= div_for(@release) do %>
    
    <div class="release-message">
      <%= mdown(@release.message) %>
    </div>
    
    <%= render partial: "releases/changes", locals: {changes: @release.changes} %>
    
    <div class="release-detail">
      <%= render partial: "releases/tickets", locals: {tickets: @release.tickets} %>
      <%= render partial: "releases/goldmine_numbers", locals: {goldmine_numbers: @release.goldmine_numbers} %>
      <%= render partial: "releases/commits", locals: {commits: @release.commits} unless for_email? %>
    </div>
    
  <% end %>
  
</div>
