<% content_for :title do %>
<h1 class="project-banner space-below">
  <span id="pull_request_count" class="light"><%= @pulls.count %></span>
  Pull Requests
</h1>
<% end %>

<div class="pull-request-labels pull-request-labels-toggle">
  <% @labels.each do |label| %>
    <%= check_box_tag label["name"], "1", @selected_labels.member?(label["name"]) %><%= label_tag label["name"] do %>
      <%= pull_request_label(label) %>
    <% end %>
  <% end %>
</div>

<div class="nomargin">
  <table id="pull_requests" class="table table-sortable table-striped">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <td class="pull-request-avatar"></td>
        <th class="pull-request-project">Project</th>
        <th class="pull-request-title">Title</th>
        <th class="pull-request-labels">Labels</th>
        <th class="pull-request-age sort-asc">Age</th>
        <td class="table-margin"></td>
      </tr>
    </thead>
    <tbody>
      <% @pulls.each do |pull| %>
        <tr class="pull-request <%= pull.labels.map { |label| "pull-request-label-#{label["name"]}" }.join(" ") %>">
          <td class="table-margin"></td>
          <td class="pull-request-avatar">
            <% if pull.user %>
              <%= avatar_for pull.user, size: 32 %>
            <% elsif pull.avatar_url %>
              <%= image_tag pull.avatar_url, size: "32", alt: pull.username, class: "avatar avatar-not-our-user" %>
            <% end %>
          </td>
          <td class="pull-request-project">
            <% if pull.project.repo.respond_to?(:pulls_url) %>
              <%= link_to pull.project.slug, pull.project.repo.pulls_url, class: "label #{pull.project.color}", target: "_blank" %>
            <% else %>
              <span class="label <%= pull.project.color %>"><%= pull.project.slug %></span>
            <% end %>
          </td>
          <td class="pull-request-title">
            <%= link_to emojify(pull.title), pull.url, target: "_blank" %>
          </td>
          <td class="pull-request-labels">
            <% pull.json_labels.each do |label| %>
              <%= pull_request_label(label) %>
            <% end %>
          </td>
          <td class="pull-request-age" data-timestamp="<%= pull.created_at.iso8601 if pull.created_at %>">
            <%= format_time_ago(pull.created_at) %>
          </td>
          <td class="table-margin"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $.tablesorter.addParser({
      id: 'labels',
      type: 'text',
      is: function(s) { return false; }, // return false so this parser is not auto detected
      format: function(s, table, td) {
        var $td = $(td),
            labels = _.map($td.find('.label'), function(el) { return $(el).text() });
        return labels.sort().join(',');
      }
    });

    $(function() {
      $('#pull_requests').tablesorter({
        headers: {
          4: {sorter: 'labels'},
          5: {sorter: 'timestamp'}
        }
      });

      function filterPullRequests() {
        var visibleClasses = $('.pull-request-labels-toggle :checkbox:checked').map(function(el) {
          return 'pull-request-label-' + $(this).attr('name');
        });

        $('.pull-request').each(function() {
          var $pull = $(this),
              classes = $pull.attr('class').split(' '); classes.shift();
              classes = _.filter(classes, function(str) { return str; });
          $pull.toggle(_.all(classes, function(cssClass) {
            return _.contains(visibleClasses, cssClass);
          }));
        });

        $('#pull_request_count').html($('.pull-request:visible').length);
      }
      filterPullRequests();

      $('.pull-request-labels-toggle :checkbox').click(function(e) {
        filterPullRequests();
      });
    });
  </script>
<% end %>
