<% content_for :title do %>
<h1 class="project-banner space-below">
  Pull Requests
</h1>
<% end %>

<% @pulls.group_by(&:project).each do |project, pulls|; next if pulls.none? %>
  <h4 class="github-repo">
    <span class="github-repo-name"><%= project.slug %></span>
    <span class="pull-requests-count badge"><%= pulls.count %></span>
  </h4>
  <ul class="pull-requests">
    <% pulls.each do |pull| %>
      <li class="pull-request">
        <%= link_to pull.url, target: "_blank" do %>
          <span class="pull-request-number"><%= pull.number %></span>
          <%= avatar_for pull.user %>
          <span class="pull-request-title"><%= emojify pull.title %></span>
          <span class="pull-request-labels">
            <% pull.labels.each do |label| %>
              <span class="label"><%= label %></span>
            <% end %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
