<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <meta name="relative_url_root" value="<%= root_url %>" />
    <meta name="revision" value="<%= revision %>" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "print", :media => "print" %>

    <!-- Le fav and touch icons -->
    <link rel="icon" type="image/x-icon" href="<%= ENV['RAILS_RELATIVE_URL_ROOT'] %>/favicon.png" />
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    
    <!-- Templates -->
    <script id="ticket_template" type="text/x-handlebars-template">
      <li class="ticket {{projectSlug}} {{projectColor}} {{classForAge age}} {{verdict}}" id="ticket_{{id}}" data-number="{{number}}" data-project="{{projectTitle}}" {{{attributesForVerdict verdictsByTester}}}>
        <a href="https://<%= unfuddle.subdomain %>.unfuddle.com/a#/projects/{{projectId}}/tickets/by_number/{{number}}" target="_blank">
          <h3 class="ticket-number">{{number}} <span class="ticket-age">{{formatDuration age}}</span></h3>
          <p class="ticket-summary">{{summary}}</p>
        </a>
      </li>
    </script>
    
    <script id="ticket_in_testing_template" type="text/x-handlebars-template">
      <div class="span8">
        <a data-toggle="collapse" data-parent="#tickets" data-target="#ticket_{{id}}_testing_notes" class="testing-notes">[#{{number}}] {{{formatTicketSummary summary}}}</a>
        <a href="{{unfuddleUrl}}" target="_blank"><%= image_tag "/images/favicon-unfuddle.png", "data-tooltip-placement" => "right", :rel => "tooltip", :title => "View in Unfuddle", :width => 16, :height => 16 %></a>
        {{#committers}} <span class="committer-avatar">{{{avatar email 24 name}}}</span>{{/committers}}
        {{#ifEq deployment "In Production (Released)"}}<span class="label label-inverse">Production</span>{{/ifEq}}
      </div>
      <div class="span4">
        <span class="ticket-verdict-summary"></span>
        <span class="tester-verdicts"></span>
        {{#if maintainer}}<button class="close-button btn">Close</button>{{/if}}
      </div>
      <ol id="ticket_{{id}}_testing_notes" class="testing-notes collapse span8">
        {{#if description}}<li class='ticket-description'>{{{description}}}</li>{{/if}}
      </ol>
    </script>
    
    <script id="ticket_tester_verdict_template" type="text/x-handlebars-template">
      <span class="ticket-verdict" data-verdict="{{verdict}}" data-tester-id="{{testerId}}">{{{testerAvatar email 24}}}</span>
    </script>
    
    <script id="testing_note_template" type="text/x-handlebars-template">
      <div class="tester-avatar">{{{avatarImage}}}</div>
      <div class="testing-note-body">
        <span class="testing-note-timestamp">{{formatTime createdAt}}</span>
        <span class="tester-comment">{{{markdown comment}}}</span>
        {{#if editable}}
        <span class="tester-controls">
          <a class="edit-note">Edit</a>
          <a class="destroy-note">Delete</a>
        </span>
        {{/if}}
      </div>
    </script>
    
    <script id="commit_template" type="text/x-handlebars-template">
      <span class="committer-avatar">{{{avatar committer/email 24 committer/name}}}</span>
      <div class="testing-note-body">
        <span class="testing-note-timestamp">
          {{formatTime createdAt}}&nbsp;&nbsp;
          {{{linkToCommit this}}}&nbsp;&nbsp;
          Updated in <b>{{environment}}</b>
        </span>
        <span class="tester-comment">{{{markdown message}}}</span>
      </div>
    </script>
    
    <script id="edit_testing_note_template" type="text/x-handlebars-template">
      <div class="tester-avatar">{{{avatarImage}}}</div>
      <form accept-charset="UTF-8" action="/tickets/{{ticketId}}/testing_notes/{{id}}" class="testing-note-form" id="edit_testing_note_{{id}}" method="post">
        <p>
          <input data-attr="ticket_id" id="testing_note_{{id}}_ticket_id" name="ticket_id" type="hidden" value="{{ticketId}}" />
          <label for="testing_note_{{id}}_verdict_works">{{{radioButton "testing_note" id "verdict" "works" verdict}}} Works</label>
          <label for="testing_note_{{id}}_verdict_fails">{{{radioButton "testing_note" id "verdict" "fails" verdict}}} Fails</label>
          <label for="testing_note_{{id}}_verdict_none">{{{radioButton "testing_note" id "verdict" "none" verdict}}} None</label>
        </p>
        <p>
          <textarea id="testing_note_comment" name="comment">{{comment}}</textarea>
        </p>
        <p>
          <input class="btn btn-primary" name="commit" type="submit" value="Save" />
          <input class="btn btn-cancel" name="commit" type="submit" value="Cancel" />
        </p>
      </form>
    </script>
    
    <script id="new_testing_note_template" type="text/x-handlebars-template">
      <li class="testing-note{{#if tester}} by-tester{{/if}} new">
        <div class="tester-avatar">{{{userAvatar 24}}}</div>
        <form accept-charset="UTF-8" action="/tickets/{{ticketId}}/testing_notes" class="testing-note-form" id="new_testing_note" method="post">
          {{#if tester}}
          <p>
            <input data-attr="ticket_id" id="ticket_{{ticketId}}_new_testing_note_ticket_id" name="ticket_id" type="hidden" value="{{ticketId}}" />
            <label for="ticket_{{ticketId}}_new_testing_note_verdict_works"><input id="ticket_{{ticketId}}_new_testing_note_verdict_works" name="verdict" type="radio" value="works"> Works</label>
            <label for="ticket_{{ticketId}}_new_testing_note_verdict_fails"><input id="ticket_{{ticketId}}_new_testing_note_verdict_fails" name="verdict" type="radio" value="fails"> Fails</label>
            <label for="ticket_{{ticketId}}_new_testing_note_verdict_none"><input id="ticket_{{ticketId}}_new_testing_note_verdict_none" name="verdict" type="radio" value="none"> None</label>
          </p>
          {{else}}
          <input data-attr="ticket_id" id="ticket_{{ticketId}}_new_testing_note_ticket_id" name="ticket_id" type="hidden" value="{{ticketId}}" />
          <input data-attr="ticket_id" id="ticket_{{ticketId}}_new_testing_note_verdict" name="verdict" type="hidden" value="none" />
          {{/if}}
          <p>
            <textarea id="testing_note_comment" name="comment" value=""></textarea>
          </p>
          <p>
            <input class="btn btn-primary" name="commit" type="submit" value="Post" />
            {{#if developer}}
            <button class="btn" id="commit_and_reset">Post Comment and Reset Verdict</button>
            {{/if}}
          </p>
        </form>
      </li>
    </script>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to Rails.configuration.title, root_url, class: "brand" %>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              
              <%# Dashboards %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
                <ul class="dropdown-menu releases-menu">
                  <li><%= link_to "All Projects", dashboard_path %></li>
                  <li class="divider"></li>
                <% Project.all.each do |project| %>
                  <li class="project">
                    <%= link_to project_dashboard_path(project) do %>
                      <%= project.name %> <b class="bubble <%= project.color %>"></b>
                    <% end %>
                  </li>
                <% end %>
                </ul>
              </li>
              
              <%# Kanban %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kanban <b class="caret"></b></a>
                <ul class="dropdown-menu kanban-menu">
                  <li><%= link_to "All Projects", kanban_path %></li>
                  <li class="divider"></li>
                <% Project.all.each do |project| %>
                  <li class="project">
                    <%= link_to project_kanban_path(project) do %>
                      <%= project.name %> <b class="bubble <%= project.color %>"></b>
                    <% end %>
                  </li>
                <% end %>
                </ul>
              </li>
              
              <%# Testing Reports %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Testing Reports <b class="caret"></b></a>
                <ul class="dropdown-menu testing-reports-menu">
                  <li><%= link_to "All Projects", testing_report_path %></li>
                  <li class="divider"></li>
                <% Project.all.each do |project| %>
                  <li class="project">
                    <%= link_to project_testing_report_path(project) do %>
                      <%= project.name %> <b class="bubble <%= project.color %>"></b>
                    <% end %>
                  </li>
                <% end %>
                </ul>
              </li>
              
              <%# Releases %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Releases <b class="caret"></b></a>
                <ul class="dropdown-menu releases-menu">
                <% Project.all.each do |project| %>
                  <li class="project">
                    <%= link_to project_environment_releases_path(project, "master") do %>
                      <%= project.name %> <b class="bubble <%= project.color %>"></b>
                    <% end %>
                  </li>
                <% end %>
                </ul>
              </li>
              
              <% if can?(:read, Project) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                <ul class="dropdown-menu reports-menu">
                  <li><%= link_to "Weekly Report", weekly_report_path %></li>
                </ul>
              </li>
              <% end %>
              
              
              
              <li class="divider-vertical"></li>
              
              <li><%= link_to "Projects", projects_path %></li>

              <% if can?(:read, User) %>
                <li><%= link_to "Team", users_path %></li>
              <% end %>
              
            </ul>
            <ul class="nav pull-right">
              <% if current_user %>
                <li><%= link_to user_path(current_user) do %><span class="avatar-24" style="margin-right: 0"><%= avatar_for(current_user, size: 38) %></span><% end %></li>
                <li><%= link_to "Sign out", destroy_user_session_path %></li>
              <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" id="body">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= flash[:error] %>
      <%= yield %>

      <!-- <footer>
        <p>&copy; Company 2012</p>
      </footer> -->

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "/assets/application" %>
    <%= ft_init :adapter => :jquery %>
    <script type="text/javascript">
      $(function(){
        window.testers = new Testers(<%= raw TesterPresenter.new(User.testers).to_json %>);
        
        <% if current_user %>
        window.userId = <%= current_user.id %>;
        window.user = new User(<%= raw({
          id: current_user.id,
          email: current_user.email,
          name: current_user.name,
          role: current_user.role
        }.to_json) %>);
        $('#body .avatar.user-' + window.userId).popover({
          title: 'Changing your Avatar',
          content: 'You can change your avatar by going to <a href="http://gravatar.com/">gravatar.com</a> and associating an image with your email address <b><%= current_user.email %></b>.'
        });
        <% end %>
        
        var $body = $('body');
        $body.keypress(function(e) {
          if(e.which == 102) { // f
            $body.toggleClass('full-screen');
            window.location.hash = $body.attr('class');
            if(window.kanbanObj) { kanbanObj.setKanbanHeight(); }
          }
        });
        
        $body.keydown(function(e) {
          if(e.keyCode == 27) {
            $body.attr('class', '');
            window.location.hash = '';
            if(window.kanbanObj) { kanbanObj.setKanbanHeight(); }
          }
        });
        
        var options = window.location.hash.substring(1).split(' ');
        if(_.include(options, 'full-screen')) {
          $body.toggleClass('full-screen');
          if(window.kanbanObj) { kanbanObj.setKanbanHeight(); }
        }
        
      });
    </script>
    <%= yield :scripts %>
    <script type="text/javascript">
      $(function(){
        $('[rel="tooltip"]').each(function() {
          var $el = $(this),
              placement = $el.attr('data-tooltip-placement') || 'bottom';
          $el.tooltip({placement: placement});
        });
      });
    </script>

  </body>
</html>
