<style type="text/css">
  #email_body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
    line-height: 18px !important;
    color: #333 !important;
  }
  
  a {
    color: #08C;
    text-decoration: none;
  }
  
  a:hover {
    color: #005580;
    text-decoration: underline;
  }
  
  table { border-collapse: collapse; }
  
  <%= render_scss "application/colors.scss.erb" %>
  <%= render_scss "application/scores.scss" %>
  <%= render_scss "application/weekly_report.scss" %>
  <%= render_scss "application/releases.scss" %>
</style>

<html>
<body>
  <div id="email_body">
    <%= yield %>
  </div>
</body>
</html>
